<!------------------------------------------------------------------------------
// Copyright (c) 2023-2024 Starion Group S.A.
//
//    Authors: Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar, Théate Antoine, Nabil Abbar
//
//    This file is part of CDP4-COMET WEB Community Edition
//    The CDP4-COMET WEB Community Edition is the Starion Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.
//
//    The CDP4-COMET WEB Community Edition is free software; you can redistribute it and/or
//    modify it under the terms of the GNU Affero General Public
//    License as published by the Free Software Foundation; either
//    version 3 of the License, or (at your option) any later version.
//
//    The CDP4-COMET WEB Community Edition is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
//    Affero General Public License for more details.
//
//    You should have received a copy of the GNU Affero General Public License
//    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->
@using COMETwebapp.Utilities
@using COMETwebapp.Extensions
@inherits COMET.Web.Common.Components.Applications.SingleIterationApplicationBase<COMETwebapp.ViewModels.Components.ModelDashboard.IModelDashboardBodyViewModel>

<LoadingComponent IsVisible="this.ViewModel.IsLoading">
    <div id="@WebAppConstantValues.ModelDashboardPage.QueryPageBodyName()" class="container-fluid">
        <div class="row">
            <div class="col-2 width-fit-content">
                <OptionSelector ViewModel="@(this.ViewModel.OptionSelector)"/>
            </div>
            <div class="col-2 width-fit-content">
                <FiniteStateSelector ViewModel="@(this.ViewModel.FiniteStateSelector)"/>
            </div>
            <div class="col-2 width-fit-content">
                <ParameterTypeSelector ViewModel="@(this.ViewModel.ParameterTypeSelector)"/>
            </div>
            <div class="row">
                <ParameterDashboard ViewModel="@(this.ViewModel.ParameterDashboard)" OnToDoClick="@(this.RedirectToParameterEditor)"/>
            </div>
            <div class="row">
                <ElementDashboard ViewModel="@(this.ViewModel.ElementDashboard)"/>
            </div>
        </div>
    </div>
</LoadingComponent>
