<!------------------------------------------------------------------------------
Copyright (c) 2023-2024 Starion Group S.A.

    Authors: Justine Veirier d'aiguebonne, Sam Gerené, Alex Vorobiev, Alexander van Delft

    This file is part of CDP4-COMET WEB Community Edition
     The CDP4-COMET WEB Community Edition is the Starion Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The CDP4-COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The CDP4-COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->
@using CDP4Common.EngineeringModelData
@using COMETwebapp.ViewModels.Components.ModelDashboard.ParameterValues

@if(this.ParameterValueSets.Any())
{
	<div class="m-top-20px todo-table text-align-center">
        <DxGrid Data="@this.rows" ColumnResizeMode="GridColumnResizeMode.ColumnsContainer">
			<ColumnHeaderCaptionTemplate>
                <span class="width-100">@context.Caption</span>
			</ColumnHeaderCaptionTemplate>
			<Columns>
				<DxGridDataColumn Caption="Element" FieldName="@nameof(ParameterValueSetBaseRowViewModel.ElementName)"/>
				<DxGridDataColumn Caption="Parameter" FieldName="@nameof(ParameterValueSetBaseRowViewModel.ParameterName)"/>
				<DxGridDataColumn Caption="Option" FieldName="@nameof(ParameterValueSetBaseRowViewModel.OptionName)"/>
				<DxGridDataColumn Caption="State" FieldName="@nameof(ParameterValueSetBaseRowViewModel.ActualFiniteStateName)"/>
			</Columns>
		</DxGrid>
	</div>
} else
{
    <div class="m-top-20px text-align-center">
        No Task to do.
    </div>
}
