@{
    <BSNav IsTabs="true">
        <BSNavItem IsActive="true">
            <TabLabel>Euler</TabLabel>
            <TabContent>
                <div id="orientation-tab-content">
                    @{
                        var types = new List<string>() { "Degrees", "Radians" };
                        <DxComboBox Data="types"
                            NullText="-"
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Never"
                            Value="this.AngleFormat"
                            ValueChanged="@((string value)=>this.OnAngleFormatChanged(new ChangeEventArgs(){Value = value}))"
                            CssClass="angle-format-combo" />

                        <div class="parameter-row">
                            <p>Rx:</p>
                            <span class="parameter-input">
                                <BSInput InputType="InputType.Text" Value="this.Rx" Class="parameter-input" @oninput="@((e) => this.OnEulerAnglesChanged("Rx",e))" />
                            </span>
                        </div>
                        <div class="parameter-row">
                            <p>Ry:</p>
                            <span class="parameter-input">
                                <BSInput InputType="InputType.Text" Value="this.Ry" Class="parameter-input" @oninput="@((e) => this.OnEulerAnglesChanged("Ry",e))" />
                            </span>
                        </div>
                        <div class="parameter-row">
                            <p>Rz:</p>
                            <span class="parameter-input">
                                <BSInput InputType="InputType.Text" Value="this.Rz" Class="parameter-input" @oninput="@((e) => this.OnEulerAnglesChanged("Rz",e))" />
                            </span>
                        </div>
                    }
                </div>
            </TabContent>
        </BSNavItem>
        <BSNavItem>
            <TabLabel>Matrix</TabLabel>
            <TabContent>
                @{
                    if (this.OrientationParameterType is not null)
                    {
                        for (int i = 0; i < this.OrientationParameterType.Component.Count; i++)
                        {
                            var index = i;
                            var comp = this.OrientationParameterType.Component[i];

                            <div class="parameter-row">
                                <p>@comp.ShortName</p>
                                <span class="parameter-input">
                                    <BSInput InputType="InputType.Text" Value="this.DetailsComponent.GetValueSet().ActualValue[i]" Class="parameter-input" @oninput="(e)=>this.DetailsComponent.OnParameterValueChange(index,e)" />
                                </span>
                            </div>
                        }
                    }
                }
            </TabContent>
        </BSNavItem>
    </BSNav>
}
