<!------------------------------------------------------------------------------
Copyright (c) 2023-2024 Starion Group S.A.
    Authors: Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar, Antoine Théate, João Rua
    This file is part of CDP4-COMET WEB Community Edition
     The CDP4-COMET WEB Community Edition is the Starion Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.
    The CDP4-COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.
    The CDP4-COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.
    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->
@using COMETwebapp.ViewModels.Components.EngineeringModel.Rows
@using COMETwebapp.ViewModels.Components.Common.Rows
@inherits SelectedDataItemBase<CDP4Common.EngineeringModelData.Publication, PublicationRowViewModel>

<LoadingComponent IsVisible="@(this.ViewModel.IsLoading)">

    <div style="display: grid;" class="pt-3">
        
        <h3>Publishable Parameters</h3>
        <DxGrid Data="@(this.ViewModel.GetParametersThatCanBePublished())"
                ColumnResizeMode="GridColumnResizeMode.ColumnsContainer"
                ShowAllRows="true"
                AutoExpandAllGroupRows="true"
                @bind-SelectedDataItems="@(this.ViewModel.SelectedParameterRowsToPublish)"
                KeyFieldName="@nameof(OwnedParameterOrOverrideBaseRowViewModel.ParameterModelCode)"
                SelectAllCheckboxMode="GridSelectAllCheckboxMode.AllPages">
            <Columns>
                <DxGridSelectionColumn Width="104px"/>
                <DxGridDataColumn FieldName="@nameof(OwnedParameterOrOverrideBaseRowViewModel.OwnerDomainShortName)" Caption="Domain" GroupInterval="GridColumnGroupInterval.DisplayText" GroupIndex="0" AllowGroup="true"/>
                <DxGridDataColumn FieldName="@nameof(OwnedParameterOrOverrideBaseRowViewModel.ParameterName)" MinWidth="150"/>
                <DxGridDataColumn FieldName="@nameof(OwnedParameterOrOverrideBaseRowViewModel.ActualValue)" Caption="New Value" MinWidth="80"/>
                <DxGridDataColumn FieldName="@nameof(OwnedParameterOrOverrideBaseRowViewModel.PublishedValue)" Caption="Old Value" MinWidth="80"/>
                <DxGridDataColumn FieldName="@nameof(OwnedParameterOrOverrideBaseRowViewModel.ParameterModelCode)" MinWidth="80"/>
                <DxGridDataColumn FieldName="@nameof(OwnedParameterOrOverrideBaseRowViewModel.ElementShortName)" MinWidth="80"/>
            </Columns>
        </DxGrid>

        <div class="p-3">
            <DxButton Id="addPublicationButton" 
                      Text="Publish" 
                      RenderStyle="ButtonRenderStyle.Primary" 
                      Click="@this.PublishSelectedParameters"
                      CssClass="float-end"/>
        </div>
        
        <h3>Publications</h3>
        <DxGrid @ref="this.Grid"
                Data="this.ViewModel.Rows.Items.OrderByDescending(x => x.CreatedOn)"
                ColumnResizeMode="GridColumnResizeMode.ColumnsContainer"
                ShowSearchBox="true"
                SearchBoxNullText="Search for a publication..."
                AllowSelectRowByClick="true"
                SelectionMode="GridSelectionMode.Single"
                SelectedDataItemChanged="@((row) => this.OnSelectedDataItemChanged((PublicationRowViewModel)row))"
                PageSize="20"
                PagerNavigationMode="PagerNavigationMode.Auto"
                PageSizeSelectorVisible="true"
                PageSizeSelectorItems="@(new int[] { 20, 35, 50 })"
                PageSizeSelectorAllRowsItemVisible="true">
            <Columns>
                <DxGridDataColumn FieldName="@nameof(PublicationRowViewModel.CreatedOn)" MinWidth="150"/>
                <DxGridDataColumn FieldName="@nameof(PublicationRowViewModel.Domains)" MinWidth="80"/>
            </Columns>
        </DxGrid>

    </div>

</LoadingComponent>

<DxPopup @bind-Visible="@this.IsOnEditMode" HeaderText="Published Parameters" Width="60%" CloseOnOutsideClick="false">
    <DxGrid Data="@(this.ViewModel.GetPublishedParametersRows(this.SelectedRow.Thing))"
            ColumnResizeMode="GridColumnResizeMode.ColumnsContainer"
            ShowAllRows="true">
        <Columns>
            <DxGridDataColumn FieldName="@nameof(OwnedParameterOrOverrideBaseRowViewModel.ParameterName)" MinWidth="150"/>
            <DxGridDataColumn FieldName="@nameof(OwnedParameterOrOverrideBaseRowViewModel.OwnerDomainShortName)" MinWidth="80"/>
            <DxGridDataColumn FieldName="@nameof(OwnedParameterOrOverrideBaseRowViewModel.ParameterModelCode)" MinWidth="80"/>
        </Columns>
    </DxGrid>
</DxPopup>
