<!------------------------------------------------------------------------------
Copyright (c) 2022 RHEA System S.A.

    Authors: Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar

    This file is part of COMET WEB Community Edition
     The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->
@page "/3DViewer"
@inherits ViewerBase

<ApplicationTemplate Title="3D Viewer">
    <Body>
        <div class="row">
            <div class="col">
                <h6>Filter on Option:</h6>
                <div class="width-fit-content">
                    <DxComboBox Data="this.Options"
                                AllowUserInput="true"
                                NullText="--Select--"
                                Value="this.OptionSelected"
                                ValueChanged="@((string option) => OnOptionFilterChange(option))"
                                FilteringMode="DataGridFilteringMode.Contains" />
                </div>
            </div>
        </div>
        <div id="gridParent">
            <div id="leftColumn">
                <h3>Product Tree</h3>
                @{
                    var name = string.Empty;

                    @if (this.Elements.Count > 0 && this.OptionSelected != null)
                    {
                        name = this.Elements.First().Name;
                    }

                    <h6 id="rootElement">@name</h6>
                    <ul>
                        @if (this.TreeNodes is not null && this.TreeNodes.Count > 0)
                        {
                            @foreach (var node in this.TreeNodes.OrderBy(x => x.Name))
                            {
                                var nodeClasses = "treeNode";

                                if (node.IsSelected)
                                {
                                    nodeClasses += " active";
                                }

                                <div class="@nodeClasses" onclick="@(()=>TreeSelectionChanged(node))">
                                    <p>@node.Name</p>

                                    @if (node.IsVisible)
                                    {
                                        <img class="treeIcon" src="images/Show.svg" onclick="@(()=>{ node.IsVisible = false; this.TreeNodeVisibilityChanged(node);})" />
                                    }
                                    else
                                    {
                                        <img class="treeIcon" src="images/Hide.svg" onclick="@(()=>{ node.IsVisible = true; this.TreeNodeVisibilityChanged(node); })" />
                                    }
                                </div>
                            }
                        }
                    </ul>
                }
            </div>

            <BabylonCanvas @ref=this.CanvasComponentReference />

            <div id="rightColumn">

                @if (this.CanvasComponentReference is not null && this.CanvasComponentReference.SceneProvider is not null && this.CanvasComponentReference.SceneProvider.SelectedPrimitive is not null)
                {
                    var primitive = this.CanvasComponentReference.SceneProvider.SelectedPrimitive;
                    <COMETwebapp.Components.PropertiesPanel.Properties SelectedPrimitive="primitive" />
                }

                <h3>States</h3>

                @if (this.ListActualFiniteStateLists is not null)
                {
                    foreach (ActualFiniteStateList actualFiniteStateList in this.ListActualFiniteStateLists)
                    {
                        <div class="actualFiniteStateList">
                            <input type="checkbox"
                           id="@actualFiniteStateList.Name"
                           name="@actualFiniteStateList.Name"
                           value="@actualFiniteStateList.Name"
                           onchange="@((ChangeEventArgs args) => OnActualFiniteStateList_SelectionChanged(actualFiniteStateList,args))">

                            <label for="@actualFiniteStateList.Name">
                                @actualFiniteStateList.Name
                            </label>
                        </div>

                        @foreach (ActualFiniteState actualFiniteState in actualFiniteStateList.ActualState)
                        {
                            <div class="actualFiniteState">

                                @if (actualFiniteState.IsDefault)
                                {
                                    <input type="radio"
                           id="@actualFiniteState.Name"
                           name="@actualFiniteStateList.Name"
                           value="@actualFiniteState.Name"
                           onchange="@((ChangeEventArgs args) => OnActualFiniteState_SelectionChanged(actualFiniteState,args))"
                           checked>
                                }
                                else
                                {
                                    <input type="radio"
                           id="@actualFiniteState.Name"
                           name="@actualFiniteStateList.Name"
                           value="@actualFiniteState.Name"
                           onchange="@((ChangeEventArgs args) => OnActualFiniteState_SelectionChanged(actualFiniteState,args))">
                                }

                                <label for="@actualFiniteState.Name">
                                    @actualFiniteState.Name
                                </label>
                            </div>
                        }
                    }
                }

            </div>
        </div>
    </Body>
</ApplicationTemplate>

<style>
    #gridParent {
        margin: 1% 0;
        display: grid;
        grid-template-columns: 0.15fr 1fr 0.23fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    #leftColumn {
        grid-area: 1 / 1 / 2 / 2;
        margin: 0;
        margin-left: 2%;
        margin-right: 2%;
    }

    #rightColumn {
        grid-area: 1 / 3 / 2 / 4;
        margin: 0;
        margin-left: 2%;
    }

    .treeNode {
        cursor: pointer;
        padding: 2%;
        border-radius: 5px;
        margin-bottom: 5px;
        margin-left: 0;
        margin-right: 5%;
        display: flex;
        justify-content: start;
        align-items: center;
        overflow: hidden;
    }

        .treeNode > p {
            margin: 0;
        }

        .treeNode:hover {
            background: #EEE;
        }

    .active {
        background: lightgray;
    }

    .treeIcon {
        margin-left: 5px;
        width: 1.5rem;
        height: auto;
    }

    .NonVisible {
        display: none;
    }

    .actualFiniteStateList {
        margin: 0;
        margin-left: 20px;
    }

    .actualFiniteState {
        margin: 0;
        margin-left: 40px;
    }

    h1 {
        margin-left: 20px;
    }
</style>