<!------------------------------------------------------------------------------
Copyright (c) 2022 RHEA System S.A.

    Authors: Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar

    This file is part of COMET WEB Community Edition
     The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->
@page "/3DViewer"

<ApplicationTemplate Title="3D Viewer">
    <Body>
        <div class="row">
            <div class="col">
                <h6>Filter on Option:</h6>
                <div class="width-fit-content">
                    <DxComboBox Data="this.Options"
                                AllowUserInput="true"
                                NullText="--Select--"
                                Value="this.OptionSelected"
                                ValueChanged="@((string option) => OnOptionFilterChange(option))"
                                FilteringMode="DataGridFilteringMode.Contains" />
                </div>
            </div>
        </div>
        <div id="gridParent">
            <div id="leftColumn">
                @if (this.OptionSelected != null)
                {
                    var name = string.Empty;

                    @if (this.Elements.Count > 0)
                    {
                        name = this.Elements.First().Name;
                    }
                    <ProductTree RootNode="this.RootNode"
                                 OnTreeSelectionChanged="@((node)=>TreeSelectionChanged(node))"
                                 OnTreeNodeVisibilityChanged="@((node)=>TreeNodeVisibilityChanged(node))" />

                }
            </div>

            <BabylonCanvas @ref=this.CanvasComponentReference />

            <div id="rightColumn">
                @if(this.OptionSelected != null)
                {
                    @if (this.CanvasComponentReference is not null && this.CanvasComponentReference.SelectedPrimitive is not null)
                    {
                        var primitive = this.CanvasComponentReference.SelectedPrimitive;
                        <COMETwebapp.Components.PropertiesPanel.Properties BabylonCanvas="this.CanvasComponentReference" SelectedPrimitive="primitive" />
                    }

                    @if (this.ListActualFiniteStateLists is not null)
                    {
                        <StateSelector ListActualFiniteStateLists="this.ListActualFiniteStateLists"
                                       OnActualFiniteStateList_SelectionChanged="@((ce)=>this.OnActualFiniteStateList_SelectionChanged(ce.Sender,ce))"
                                       OnActualFiniteState_SelectionChanged="@((ce)=>this.OnActualFiniteState_SelectionChanged(ce.Sender,ce))" />
                    }
                }
            </div>
        </div>
    </Body>
</ApplicationTemplate>

<style>
    #gridParent {
        margin: 1% 0;
        display: grid;
        grid-template-columns: 0.15fr 1fr 0.23fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    #leftColumn {
        grid-area: 1 / 1 / 2 / 2;
        margin: 0;
        margin-left: 2%;
        margin-right: 2%;
    }

    #rightColumn {
        grid-area: 1 / 3 / 2 / 4;
        margin: 0;
        margin-left: 2%;
    }
</style>