<!------------------------------------------------------------------------------
Copyright (c) 2022 RHEA System S.A.

    Authors: Justine Veirier d'aiguebonne, Sam Gerené, Alex Vorobiev, Alexander van Delft

    This file is part of COMET WEB Community Edition
     The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->

@page "/{modelName}"
@inject ISessionAnchor SessionAnchor
@inject NavigationManager NavigationManager

<div class="display-flex flex-row">
    <div class="display-flex flex-column width-100 align-items-center">
        <h1>Model @ModelName</h1>
        <h1>Domain @SessionAnchor.CurrentDomainOfExpertise?.Name </h1>
    </div>
    <div class="display-flex width-fit-content align-items-center">
        <CloseModelButton/>
    </div>
</div>

<div class="display-flex flex-wrap" style="margin-top: 50px; justify-content: center">
   @foreach(var cardInfo in Cards)
   {
       <div class="card" style="width: 280px; height: 280px; margin: 5px">
          <button class="card-btn" @onclick="@(() => SelectApplication(@cardInfo.Name))">
              <span class="oi oi-@cardInfo.Icon display-flex justify-content-center" style="color: @cardInfo.Color; zoom: 3" title="@cardInfo.Icon" aria-hidden="true"></span>
              <div class="card-body display-flex flex-column align-items-center" style="margin-top: 30px">
                <h5 class="card-title" style="font-weight: bold">@cardInfo.Name</h5>
                <p class="card-text text-align-center" style="margin-top: 20px; font-style: italic">@cardInfo.Description</p>
              </div>
          </button>
       </div>
    }
</div>

@code {
    /// <summary>
    /// Gets or sets the modelName
    /// </summary>
    [Parameter]
    public string? ModelName { get; set; }

    /// <summary>
    /// List of application Cards
    /// </summary>
    public List<Card> Cards { get; set; } = new List<Card>();

    /// <summary>
    /// Get application Cards static initalization of the component
    /// </summary>
    protected override void OnInitialized()
    {
        var application = new ApplicationCards();
        this.Cards = application.Cards;
    }

    /// <summary>
    /// Navigate to the selected application
    /// </summary>
    /// <param name="applicationName">Name of the selected application</param>
    private void SelectApplication(string? applicationName)
    {
        if (applicationName is not null)
        {
            var newName = Regex.Replace(applicationName, @"\s", "");
            this.NavigationManager.NavigateTo($"/{newName}");
        }
    }
}
