<!------------------------------------------------------------------------------
Copyright (c) 2024 Starion Group S.A.

    Authors: Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar, Théate Antoine, João Rua

    This file is part of COMET WEB Community Edition
    The COMET WEB Community Edition is the Starion Group Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
------------------------------------------------------------------------------->

<DxGrid @ref="this.Grid"
        Data="this.GetRows()"
        EditMode="GridEditMode.PopupEditForm"
        PopupEditFormHeaderText="Component"
        EditModelSaving="@(() => this.OnEditEnumerationValueDefinitionSaving())"
        CustomizeEditModel="this.CustomizeEditEnumerationValueDefinition">
    <Columns>
        <DxGridDataColumn FieldName="@nameof(ParameterTypeComponentRowViewModel.ShortName)" MinWidth="80"/>
        <DxGridDataColumn FieldName="@nameof(ParameterTypeComponentRowViewModel.ParameterType)" MinWidth="80"/>
        <DxGridDataColumn FieldName="@nameof(ParameterTypeComponentRowViewModel.Scale)" MinWidth="80"/>
        <DxGridCommandColumn Width="100px" EditButtonVisible="false">
            <HeaderTemplate>
                <DxButton Id="addScaleValueDefinitionButton" Text="Add" IconCssClass="oi oi-plus" Click="() => this.Grid.StartEditNewRowAsync()"/>
            </HeaderTemplate>
            <CellDisplayTemplate>
                @{
                    var row = (ParameterTypeComponentRowViewModel)context.DataItem;

                    <DxButton Id="editScaleValueDefinitionButton"
                              IconCssClass="oi oi-pencil"
                              Click="@(() => this.Grid.StartEditRowAsync(context.VisibleIndex))"/>

                    <DxButton Id="removeScaleValueDefinitionButton"
                              IconCssClass="oi oi-trash"
                              Click="() => this.RemoveEnumerationValueDefinition(row)"/>
                }
            </CellDisplayTemplate>
        </DxGridCommandColumn>
        <DxGridCommandColumn Width="100px" EditButtonVisible="false">
            <HeaderTemplate>
                Order
            </HeaderTemplate>
            <CellDisplayTemplate>
                @{
                    var row = (ParameterTypeComponentRowViewModel)context.DataItem;

                    <DxButton Id="moveUpButton"
                              IconCssClass="oi oi-arrow-top"
                              Click="() => this.MoveUp(row)"
                              Enabled="@(this.CompoundParameterType.Component.IndexOf(row.Thing) > 0)"/>

                    <DxButton Id="moveDownButton"
                              IconCssClass="oi oi-arrow-bottom"
                              Click="() => this.MoveDown(row)"
                              Enabled="@(this.CompoundParameterType.Component.LastOrDefault() != row.Thing)"/>
                }
            </CellDisplayTemplate>
        </DxGridCommandColumn>
    </Columns>

    <EditFormTemplate Context="EditFormContext">
        <FluentValidationValidator/>
        <DxFormLayout CssClass="w-100">
            <DxFormLayoutItem Caption="Shortname:" ColSpanMd="12">
                <DxTextBox @bind-Text="@(this.ParameterTypeComponent.ShortName)"/>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Parameter Type:" ColSpanMd="12">
                <DxComboBox Data="@(this.ParameterTypes.OrderBy(x => x.Name))"
                            TextFieldName="@(nameof(ParameterType.Name))"
                            NullText="Select a parameter type"
                            TextChanged="@(() => this.ParameterTypeComponent.Scale = null)"
                            @bind-Value="@(this.ParameterTypeComponent.ParameterType)"/>
            </DxFormLayoutItem>
            <DxFormLayoutItem Caption="Scale:" ColSpanMd="12">
                <DxComboBox Data="@(this.GetAvailableScales())"
                            TextFieldName="@(nameof(MeasurementScale.Name))"
                            @bind-Value="@(this.ParameterTypeComponent.Scale)" />
            </DxFormLayoutItem>
        </DxFormLayout>
        <div class="pt-3"></div>
        <ValidationSummary/>
    </EditFormTemplate>
</DxGrid>