<!------------------------------------------------------------------------------
// Copyright (c) 2023-2024 Starion Group S.A.
//
//     Authors: Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar, Théate Antoine, João Rua
//
//     This file is part of CDP4-COMET WEB Community Edition
//      The CDP4-COMET WEB Community Edition is the Starion Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.
//
//     The CDP4-COMET WEB Community Edition is free software; you can redistribute it and/or
//     modify it under the terms of the GNU Affero General Public
//     License as published by the Free Software Foundation; either
//     version 3 of the License, or (at your option) any later version.
//
//     The CDP4-COMET WEB Community Edition is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
//     Affero General Public License for more details.
//
//     You should have received a copy of the GNU Affero General Public License
//     along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->
@using CDP4Common.SiteDirectoryData;
@using COMET.Web.Common.Extensions;
@using COMETwebapp.Model
@using CDP4Common.EngineeringModelData
@using COMETwebapp.ViewModels.Components.SystemRepresentation.Rows;
@inherits DisposableComponent

@if (this.ViewModel.SelectedSystemNode != null)
{
    <CardView Items="this.ViewModel.Rows" ItemSize="150" MinWidth="280">
        <ItemTemplate>
            <div class="row">
                <div class="col-9">
                    <h6 title="@context.ParameterTypeName" style="overflow:hidden;text-overflow: ellipsis;white-space: nowrap;"><CardField Context="@context" FieldName="ParameterTypeName"/></h6>
                </div>
                <div class="col-3" align="right">
                    <button class="starion-pill" title="Owning Domain Of Expertise: @context.Owner"><CardField Context="@context" FieldName="Owner" /></button>
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="overflow:hidden;text-overflow: ellipsis;white-space: nowrap;" title="@context.ModelCode">
                    <CardField Context="@context" FieldName="ModelCode" />
                </div>
            </div>
            <div class="row" style="border-top:1px dotted darkgray;margin-top:8px;padding-top:8px;">
                <div class="col-6">
                    <span>
                        <button class="starion-pill" title="Actual Value's Value Switch: @context.SwitchValue"><CardField Context="@context" FieldName="SwitchValue" /></button>
                    </span>
                    <span>Actual:</span>
                </div>
                <div class="col-6">
                    Published:
                </div>
            </div>
            <div class="row">
                <div class="col-6" style="overflow:hidden;text-overflow: ellipsis;white-space: nowrap;" title="Actual Value: @context.ActualValue">
                    <CardField Context="@context" FieldName="ActualValue" />
                </div>
                <div class="col-6" style="overflow:hidden;text-overflow: ellipsis;white-space: nowrap;" title="Published Value: @context.PublishedValue"><CardField Context="@context" FieldName="PublishedValue" /></div>
            </div>
        </ItemTemplate>
    </CardView>
}
