<!------------------------------------------------------------------------------
    Copyright (c) 2022 RHEA System S.A.

    Authors: Justine Veirier d'aiguebonne, Sam Gerené, Alex Vorobiev, Alexander van Delft

    This file is part of COMET WEB Community Edition
     The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->

@inject ISessionAnchor ISessionAnchor
@implements IDisposable

<div class="sidebar @StateCssClass">
    @if(ISessionAnchor.Session != null && ISessionAnchor.GetSiteDirectory() != null)
    {
        <DxTreeView AllowSelectNodes="true" CssClass="app-sidebar">
            <Nodes>
                <DxTreeViewNode IconCssClass="oi oi-home zoom-1-5" NavigateUrl="@GetModelName()" Text="Home"></DxTreeViewNode>
                <DxTreeViewNode IconCssClass="oi oi-wrench zoom-1-5" NavigateUrl="./settings" Text="Settings"></DxTreeViewNode>
                @foreach(var card in Cards)
                {
                    @if(card.Name is not null && card.Color is not null)
                    {
                        var url = "/" + Regex.Replace(card.Name, @"\s", "");
                        var color = Regex.Replace(card.Color, @"#", "");
                        var iconCssClass = $"oi oi-{card.Icon} color-{color} zoom-1-5";
                        <DxTreeViewNode IconCssClass="@iconCssClass" NavigateUrl="@url" Text="@card.Name"></DxTreeViewNode>   
                    }
                }
            </Nodes>
        </DxTreeView>
    }  
    else
    {
        <DxTreeView AllowSelectNodes="true" CssClass="app-sidebar">
            <Nodes>
                <DxTreeViewNode IconCssClass="oi oi-home zoom-1-5" NavigateUrl="./" Text="Home"></DxTreeViewNode>
                @foreach(var card in Cards)
                {
                    @if (card.Name is not null && card.Color is not null)
                    {
                        var url = "/" + Regex.Replace(card.Name, @"\s", "");
                        var color = Regex.Replace(card.Color, @"#", "");
                        var iconCssClass = $"oi oi-{card.Icon} color-{color} zoom-1-5";
                        <DxTreeViewNode IconCssClass="@iconCssClass" NavigateUrl="@url" Text="@card.Name"></DxTreeViewNode>
                    }
                }
            </Nodes>
        </DxTreeView>
    }
</div>

@code {
    [Parameter] public string? StateCssClass { get; set; }

    /// <summary>
    /// List of application names
    /// </summary>
    public List<Card> Cards { get; set; } = new List<Card>();

    /// <summary>
    /// Listeners for the components to update it with ISession
    /// </summary>
    private Dictionary<string, IDisposable> listeners = new Dictionary<string, IDisposable>();

    /// <summary>
    /// Get application Cards static initalization of the component
    /// </summary>
    protected override void OnInitialized()
    {
        var application = new ApplicationCards();
        this.Cards = application.Cards;

        if (!this.listeners.TryGetValue("Closed", out var listener))
        {
            this.listeners.Add("Closed", CDPMessageBus.Current.Listen<SessionEvent>().Where(x => x.Status == SessionStatus.Closed).Subscribe(x =>
            {
                this.StateHasChanged();
            }));
        }

        if (!this.listeners.TryGetValue("Open", out listener))
        {
            this.listeners.Add("Open", CDPMessageBus.Current.Listen<SessionEvent>().Where(x => x.Status == SessionStatus.Open).Subscribe(x =>
            {
                this.StateHasChanged();
            }));
        }

        if (!this.listeners.TryGetValue("Update", out listener))
        {
            this.listeners.Add("Update", CDPMessageBus.Current.Listen<SessionEvent>().Where(x => x.Status == SessionStatus.EndUpdate).Subscribe(x =>
            {
                this.StateHasChanged();
            }));
        }
    }

    /// <summary>
    /// Stop and clear listeners of the component
    /// </summary>
    public void Dispose()
    {
        this.listeners.Values.ToList().ForEach(l => l.Dispose());
        this.listeners.Clear();
    }

    /// <summary>
    /// Get name of the opened EngineeringModel
    /// </summary>
    /// <returns>Url to home page of the opened EngineeringModel</returns>
    private string? GetModelName()
    {
        if(ISessionAnchor.GetIteration() != null)
        {
            var actualIterationSetup = this.ISessionAnchor.GetIteration()?.IterationSetup;
            var actualEngineeringModelSetup = this.ISessionAnchor.GetSiteDirectory().Model.Find(m => m.IterationSetup.Contains(actualIterationSetup));
            return "./" + actualEngineeringModelSetup?.Name; 
        } else
        {
            return "./";
        }

    }
}
