<!------------------------------------------------------------------------------
// Copyright (c) 2023 RHEA System S.A.
//
//    Authors: Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar, Théate Antoine, Nabil Abbar
//
//    This file is part of COMET WEB Community Edition
//    The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.
//
//    The COMET WEB Community Edition is free software; you can redistribute it and/or
//    modify it under the terms of the GNU Affero General Public
//    License as published by the Free Software Foundation; either
//    version 3 of the License, or (at your option) any later version.
//
//    The COMET WEB Community Edition is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
//    Affero General Public License for more details.
//
//    You should have received a copy of the GNU Affero General Public License
//    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->
@using COMETwebapp.Model
@using CDP4Common.SiteDirectoryData

<div class="row font-weight-bold">@this.ElementName - @this.ParameterName</div>
<div class="row p-1 m-top-10px">
    <div class="col-11 p-0">
        <DxChart Data="@this.RevisionHistories" CustomizeSeriesPoint="@this.PreparePointLabel">
            <DxChartLegend Visible="false" />
            <DxChartArgumentAxis>
                <DxChartAxisTitle Text="Revision Number" />
            </DxChartArgumentAxis>
            <DxChartValueAxis ValueType="ChartAxisDataType.DateTime">
                <DxChartAxisTitle Text="Date" />
                <DxChartAxisLabel Format="@(this.ParameterSubscriptionRow.Parameter.ParameterType is DateParameterType ? ChartElementFormat.ShortDate : ChartElementFormat.ShortDateShortTime)" />
            </DxChartValueAxis>
            <DxChartLineSeries ArgumentField="@((RevisionHistory p) => p.RevisionNumber)"
                               ValueField="@(p => p.ActualValue)">
                @if (this.ParameterSubscriptionRow.Parameter.ParameterType is DateParameterType)
                {
                    <DxChartSeriesLabel Position="RelativePosition.Outside" FormatPattern="{value:dd/MM/yyyy}">
                        <DxChartSeriesLabelConnector Visible="true" Width="3" />
                    </DxChartSeriesLabel>
                }
                else
                {
                    <DxChartSeriesLabel Position="RelativePosition.Outside" FormatPattern="{value:dd/MM/yyyy,hh:mm:ss}">
                        <DxChartSeriesLabelConnector Visible="true" Width="3" />
                    </DxChartSeriesLabel>
                }
            </DxChartLineSeries>
        </DxChart>
    </div>
</div>
