<!------------------------------------------------------------------------------
// Copyright (c) 2023-2024 RHEA System S.A.
// 
//     Authors: Justine Veirier d'aiguebonne, Sam Gerené, Alex Vorobiev, Alexander van Delft
// 
//     This file is part of CDP4-COMET WEB Community Edition
//      The CDP4-COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.
// 
//     The CDP4-COMET WEB Community Edition is free software; you can redistribute it and/or
//     modify it under the terms of the GNU Affero General Public
//     License as published by the Free Software Foundation; either
//     version 3 of the License, or (at your option) any later version.
// 
//     The CDP4-COMET WEB Community Edition is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
//     Affero General Public License for more details.
// 
//     You should have received a copy of the GNU Affero General Public License
//     along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->
@using COMETwebapp.ViewModels.Components.Common.Rows
@inherits DisposableComponent

@if (!this.ViewModel.Rows.Items.Any())
{
    <div>You don't have any subscribed parameters.</div>
}
else
{
    <div class="col align-self-end text-align-end" style="color:black;">
        <span class="badge rounded-pill bg-info m-right-3px"> parameter </span>
        = Missing Values
    </div>
    <DxGrid Data="@this.ViewModel.Rows.Items" ShowAllRows="true" RowClick="this.OnRowClick">
        <Columns>
            <DxGridDataColumn Caption="Element" FieldName="@nameof(OwnedParameterOrOverrideBaseRowViewModel.ElementName)" GroupIndex="0" />
            <DxGridDataColumn Caption="Parameter" FieldName="@nameof(OwnedParameterOrOverrideBaseRowViewModel.ParameterName)">
                <CellDisplayTemplate>
                    @if (context.DataItem is OwnedParameterOrOverrideBaseRowViewModel {HasMissingValues:true})
                    {
                        <span class="badge rounded-pill bg-info">@context.Value</span>
                    }
                    else
                    {
                        <div>@context.Value</div>
                    }
                </CellDisplayTemplate>
            </DxGridDataColumn>
            <DxGridDataColumn Caption="Is Option Dependent" FieldName="@nameof(OwnedParameterOrOverrideBaseRowViewModel.IsOptionDependent)" />
            <DxGridDataColumn Caption="Is State Dependent" FieldName="@nameof(OwnedParameterOrOverrideBaseRowViewModel.IsStateDependent)" />
            <DxGridDataColumn Caption="Domains Who Subscribed To" FieldName="@nameof(OwnedParameterOrOverrideBaseRowViewModel.InterestedDomainsShortNames)" />
        </Columns>
    </DxGrid>
}