<!------------------------------------------------------------------------------
Copyright (c) 2022 RHEA System S.A.

    Authors: Justine Veirier d'aiguebonne, Sam Gerené, Alex Vorobiev, Alexander van Delft

    This file is part of COMET WEB Community Edition
     The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->
@inject IIterationService IterationService
@inject ISessionAnchor ISessionAnchor
@inject NavigationManager NavigationManager
@implements IDisposable

<div>
    @if (this.SubscribedParameters.Count == 0)
    {
        <div>
            You don't have any subscribed Parameters.
        </div>
    } else
    {
        @if (this.ViewModelSubscribedParameters.ToList().Exists(parameter => parameter.IsIncomplete == true))
        {
            <div class="display-flex flex-row justify-content-end text-black">
                <span class="badge rounded-pill bg-info m-right-3px"> mass </span>
                = To Complete
            </div>
        }
        <DxDataGrid @ref="@grid" Data="@SortOrder(this.ViewModelSubscribedParameters)" PageSize="0" RowClick="@OnRowClick">
            <DxDataGridColumn Field="@nameof(ParameterSubscriptionViewModel.ElementName)" Caption="Element" TextAlignment="DataGridTextAlign.Center" />
            <DxDataGridColumn Field="@nameof(ParameterSubscriptionViewModel.ParameterType)" Caption="Parameter" TextAlignment="DataGridTextAlign.Center">
                <DisplayTemplate>
                    @if ((context as ParameterSubscriptionViewModel)?.IsIncomplete == true)
                    {
                    <span class="badge rounded-pill bg-info">@((context as ParameterSubscriptionViewModel)?.ParameterType)</span>
                    } else
                    {
                    <div>@((context as ParameterSubscriptionViewModel)?.ParameterType)</div>
                    }
                </DisplayTemplate>
            </DxDataGridColumn>
            <DxDataGridColumn Field="@nameof(ParameterSubscriptionViewModel.ModelCode)" Caption="Model code" TextAlignment="DataGridTextAlign.Center" />

            <DxDataGridColumn Field="@nameof(ParameterSubscriptionViewModel.IsOptionDependent)" TextAlignment="DataGridTextAlign.Center"/>
            <DxDataGridColumn Field="@nameof(ParameterSubscriptionViewModel.IsStateDependent)" TextAlignment="DataGridTextAlign.Center"/>
            <DxDataGridColumn Field="@nameof(ParameterSubscriptionViewModel.SubscriptionOwners)" Caption="Domains who subscribed to" TextAlignment="DataGridTextAlign.Center"/>
        </DxDataGrid>
    }
</div>

@code {
    /// <summary>
    /// List of <see cref="Parameter">, owned by the current <see cref="DomainOfExpertise">, subscribed by other <see cref="DomainOfExpertise">
    /// </summary>
    public List<Parameter> SubscribedParameters { get; set; } = new List<Parameter>();

    /// <summary>
    /// List of <see cref="ParameterSubscriptionViewModel"> to show in the table
    /// </summary>
    public List<ParameterSubscriptionViewModel> ViewModelSubscribedParameters = new List<ParameterSubscriptionViewModel>();

    /// <summary>
    /// Defines grid for the component to be able to define actions on it
    /// </summary>
    private DxDataGrid<ParameterSubscriptionViewModel>? grid;

    /// <summary>
    /// Listeners for the components to update it with ISession
    /// </summary>
    private Dictionary<string, IDisposable> listeners = new Dictionary<string, IDisposable>();

    /// <summary>
    /// Initialize component at first render and after session update
    /// </summary>
    protected override void OnInitialized()
    {
        this.LoadData();

        if (!this.listeners.TryGetValue("UpToDate", out var listener))
        {
            this.listeners.Add("UpToDate", CDPMessageBus.Current.Listen<SessionStateKind>().Where(x => x == SessionStateKind.UpToDate).Subscribe(x =>
            {
                this.LoadData();
                this.StateHasChanged();
            }));
        }
        if (!this.listeners.TryGetValue("DomainChangedEvent", out listener)) {
            this.listeners.Add("DomainChangedEvent", CDPMessageBus.Current.Listen<DomainChangedEvent>().Subscribe(x =>
            {
                this.LoadData();
                this.StateHasChanged();
            }));
        }
    }

    /// <summary>
    /// Stop and clear listeners of the component
    /// </summary>
    public void Dispose()
    {
        this.listeners.Values.ToList().ForEach(l => l.Dispose());
        this.listeners.Clear();
    }

    /// <summary>
    /// Load all data to create the table
    /// </summary>
    private void LoadData()
    {
        this.ViewModelSubscribedParameters.Clear();
        this.SubscribedParameters = this.IterationService.GetCurrentDomainSubscribedParameters(this.ISessionAnchor.OpenIteration, this.ISessionAnchor.CurrentDomainOfExpertise);
        this.GetViewModelSubscribedParameters();
    }

    /// <summary>
    /// Initialize the list of <see cref="ParameterSubscriptionViewModel"> with subscribed <see cref="Parameter">
    /// </summary>
    private void GetViewModelSubscribedParameters()
    {
        this.SubscribedParameters.ForEach(subscribedParameter =>
        {
            var associatedElement = this.ISessionAnchor.OpenIteration?.Element.Find(element => element.Parameter.Contains(subscribedParameter));

            var isIncomplete = subscribedParameter.ValueSet.FindAll(valueSet => valueSet.ActualValue.Count(el => !el.Equals("-")) == 0).Count != 0;

            var subscriptionOwners = new List<string>();

            subscribedParameter.ParameterSubscription.ForEach(parameterSubscription =>
            {
                subscriptionOwners.Add(parameterSubscription.Owner.ShortName);
            });
            subscriptionOwners.Sort();

            this.ViewModelSubscribedParameters.Add(new ParameterSubscriptionViewModel()
                {
                    ElementName = associatedElement?.Name,
                    ParameterType = subscribedParameter.ParameterType.Name,
                    ModelCode = subscribedParameter.ModelCode(),
                    IsOptionDependent = subscribedParameter.IsOptionDependent,
                    IsStateDependent = subscribedParameter.StateDependence != null,
                    IsIncomplete = isIncomplete,
                    SubscriptionOwners = string.Join(", ", subscriptionOwners)
                });
        });
    }

    /// <summary>
    /// Deletes row selection when you click on the table
    /// </summary>
    /// <param name="args"><see cref="DataGridRowClickEventArgs"> from the table</param>
    private void OnRowClick(DataGridRowClickEventArgs<ParameterSubscriptionViewModel> args) {
        if (args.DataItem.IsIncomplete == true)
        {
            this.NavigationManager.NavigateTo($"SubscriptionDashboard/Details?modelCode={args.DataItem.ModelCode}");
        }
        grid?.SetDataRowSelected(args.DataItem, false);
        args.Handled = true;
    }

    /// <summary>
    /// Sorts elements in the table alphabetically by ElementName
    /// When a parameter is incomplete, puts it at the top of the table
    /// </summary>
    /// <param name="viewModelSubscribedParameters">The list of <see cref ="ParameterSubscriptionViewModel"> to show in the table</param>
    /// <returns>An <see cref="ObservableCollection"> with sorted elements</returns>
    private ObservableCollection<ParameterSubscriptionViewModel> SortOrder(List<ParameterSubscriptionViewModel> viewModelSubscribedParameters)
    {
        var updatedParameters = viewModelSubscribedParameters.ToList().FindAll(i => i.IsIncomplete == true).OrderBy(i => i.ElementName);
        var otherParameters = viewModelSubscribedParameters.ToList().FindAll(i => i.IsIncomplete == false).OrderBy(i => i.ElementName);

        return new ObservableCollection<ParameterSubscriptionViewModel>(updatedParameters.Concat(otherParameters));;
    }
}
