<!------------------------------------------------------------------------------
Copyright (c) 2022 RHEA System S.A.

    Authors: Justine Veirier d'aiguebonne, Sam Gerené, Alex Vorobiev, Alexander van Delft

    This file is part of COMET WEB Community Edition
     The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->

@inject ISessionAnchor ISessionAnchor
@inject IIterationService IterationService
@inject NavigationManager NavigationManager
@implements IDisposable

<div class="display-flex flex-column">
    @if (this.SubscribedParameters.Count == 0)
    {
        <div>
            You don't have any subscriptions.
        </div>
    } else {
        @if (this.ViewModelSubscribedParameters.ToList().Exists(parameter => parameter.IsUpdated || parameter.IsSubscribedUpdated))
        {
            <div class="display-flex flex-row-reverse align-items-end justify-content-between">
                <button class="btn btn-outline-dark width-200 padding-bottom-1 padding-top-1" @onclick="() => ValidateAllChanges()">
                    <i class="oi oi-check m-right-3px"></i>
                    Validate all changes
                </button>
                
                <div>
                    <input type="checkbox" id="filterUpdates" @onchange="@OnFilterUpdates" >
                    <label class="m-left-3px color-7b8a8b" for="filterUpdates">Filter only changes</label>
                </div>
            </div>
        }
        <div>
            <DxDataGrid @ref="@grid" Data="@SortOrder(this.ViewModelSubscribedParameters)" PageSize="0" RowClick="@OnRowClick" ShowFilterRow="true">
                <DxDataGridColumn Field="@nameof(ParameterSubscriptionViewModel.ElementName)" Caption="Element" TextAlignment="DataGridTextAlign.Center" />
                <DxDataGridColumn Field="@nameof(ParameterSubscriptionViewModel.ParameterType)" Caption="Parameter" TextAlignment="DataGridTextAlign.Center" />
                <DxDataGridColumn Field="@nameof(ParameterSubscriptionViewModel.ModelCode)" Caption="Model code" TextAlignment="DataGridTextAlign.Center" AllowFilter="false" />
                <DxDataGridColumn Field="@nameof(ParameterSubscriptionViewModel.ActualValue)" Caption="Actual Value from ParameterSubscription" TextAlignment="DataGridTextAlign.Center" AllowFilter="false">
                    <DisplayTemplate>
                        @{
                            var iid = (context as ParameterSubscriptionViewModel)?.Iid;
                            var parameterSubscriptionValueSets = new List<ParameterSubscriptionValueSet>();
                            this.SubscribedParameters.ForEach(p => parameterSubscriptionValueSets.AddRange(p.ValueSet));
                            var associatedParameterSubscriptionValueSet = parameterSubscriptionValueSets.Find(p => p.Iid == iid);
                            var lastActualValue = new ValueArray<string>();
                            if(associatedParameterSubscriptionValueSet != null && associatedParameterSubscriptionValueSet.Revisions.Count != 0)
                            {
                                var lastParameter = (ParameterSubscriptionValueSet)associatedParameterSubscriptionValueSet.Revisions.Last().Value;
                                lastActualValue = lastParameter.ActualValue;
                            }
                            var actualValue = (context as ParameterSubscriptionViewModel)?.ActualValue;
                            var scalevalue = (context as ParameterSubscriptionViewModel)?.Scale;
                            var switchmode = (context as ParameterSubscriptionViewModel)?.SwitchMode;

                            var subscribedIid = (context as ParameterSubscriptionViewModel)?.SubscribedIid;
                            var subscribedActualValue = (context as ParameterSubscriptionViewModel)?.SubscribedActualValue;
                            var subscribedScalevalue = (context as ParameterSubscriptionViewModel)?.SubscribedScale;
                            var associatedParameterValueSet = this.IterationService.GetParameterValueSets(this.ISessionAnchor.GetIteration()).Find(p => p.Iid == subscribedIid);
                            var subscribedLastActualValue = new ValueArray<string>();
                            if(associatedParameterValueSet != null && associatedParameterValueSet.Revisions.Count != 0)
                            {
                                var lastParameter = (ParameterValueSet)associatedParameterValueSet.Revisions.Last().Value;
                                subscribedLastActualValue = lastParameter.ActualValue;
                            }
                        }
                        @if ((context as ParameterSubscriptionViewModel)?.IsUpdated == true && actualValue != null)
                        {
                            <span class="badge rounded-pill bg-dark font-weight-100">
                                <div class="display-flex flex-row">
                                    @if (actualValue.Count == 1)
                                    {
                                        <div class="font-size-bs-body">@actualValue.First() @scalevalue </div>
                                    }
                                    else
                                    {
                                        @foreach(string value in actualValue)
                                        {
                                            <a>value</a>
                                        }
                                        <a>@scalevalue </a>
                                    }
                                    @if(actualValue?.Count == 1 && associatedParameterSubscriptionValueSet != null && associatedParameterSubscriptionValueSet.Revisions.Count != 0 
                                        && double.Parse(lastActualValue.First()) > double.Parse(actualValue.First()))
                                    {
                                        <i class="oi oi-caret-bottom m-left-5px"></i>
                                    } else if (actualValue?.Count == 1 && associatedParameterSubscriptionValueSet != null && associatedParameterSubscriptionValueSet.Revisions.Count != 0)
                                    {
                                        <i class="oi oi-caret-top m-left-5px"></i>
                                    } else if (switchmode != null && switchmode.Equals("COMPUTED")) {
                                        if(subscribedActualValue?.Count == 1 && associatedParameterValueSet != null 
                                            && associatedParameterValueSet.Revisions.Count != 0 && double.Parse(subscribedLastActualValue.First()) > double.Parse(subscribedActualValue.First()))
                                        {
                                            <i class="oi oi-caret-bottom m-left-5px"></i>
                                        } else if(subscribedActualValue?.Count == 1 && associatedParameterValueSet != null 
                                            && associatedParameterValueSet.Revisions.Count != 0 && double.Parse(subscribedLastActualValue.First()) < double.Parse(subscribedActualValue.First()))
                                        {
                                            <i class="oi oi-caret-top m-left-5px"></i>
                                        }
                                    }
                                </div>
                            </span>
                           
                            <a><br/> (@switchmode)</a>
                        } else if (actualValue != null)
                        {
                            @if (actualValue.Count == 1)
                            {
                                <a>@actualValue.First() @scalevalue</a>
                            }
                            else
                            {
                                @foreach(string value in actualValue)
                                {
                                    <a>value</a>
                                }
                                <a>@scalevalue</a>
                            }
                            @if(actualValue?.Count == 1 && associatedParameterSubscriptionValueSet != null && associatedParameterSubscriptionValueSet.Revisions.Count != 0 && double.Parse(lastActualValue.First()) > double.Parse(actualValue.First()))
                            {
                                <i class="oi oi-caret-bottom m-left-5px"></i>
                            } else if (actualValue?.Count == 1 && associatedParameterSubscriptionValueSet != null && associatedParameterSubscriptionValueSet.Revisions.Count != 0)
                            {
                                <i class="oi oi-caret-top m-left-5px"></i>
                            }
                            <a><br/> (@switchmode)</a>
                        }
                    </DisplayTemplate>
                </DxDataGridColumn>
                <DxDataGridColumn Field="@nameof(ParameterSubscriptionViewModel.SubscribedActualValue)" Caption="Actual Value from Parameter" TextAlignment="DataGridTextAlign.Center" AllowFilter="false">
                    <DisplayTemplate>
                        @{
                            var actualValue = (context as ParameterSubscriptionViewModel)?.SubscribedActualValue;
                            var scalevalue = (context as ParameterSubscriptionViewModel)?.SubscribedScale;
                            var switchmode = (context as ParameterSubscriptionViewModel)?.SubscribedSwitchMode;

                            var iid = (context as ParameterSubscriptionViewModel)?.SubscribedIid;
                            var associatedParameterValueSet = this.IterationService.GetParameterValueSets(this.ISessionAnchor.GetIteration()).Find(p => p.Iid == iid);
                            var lastActualValue = new ValueArray<string>();
                            if(associatedParameterValueSet != null && associatedParameterValueSet.Revisions.Count != 0)
                            {
                                var lastParameter = (ParameterValueSet)associatedParameterValueSet.Revisions.Last().Value;
                                lastActualValue = lastParameter.ActualValue;
                            }
                        }
                        @if ((context as ParameterSubscriptionViewModel)?.IsSubscribedUpdated == true && actualValue != null)
                        {
                            <span class="badge rounded-pill bg-dark font-weight-100">
                                <div class="display-flex flex-row">
                                    @if (actualValue.Count == 1)
                                    {
                                         <div class="font-size-bs-body">@actualValue.First() @scalevalue </div>
                                    } else
                                    {
                                        @foreach(string value in actualValue)
                                        {
                                            <a>value</a>
                                        }
                                        <a>@scalevalue </a>
                                    }
                                    @if(actualValue?.Count == 1 && associatedParameterValueSet != null && associatedParameterValueSet.Revisions.Count != 0 && double.Parse(lastActualValue.First()) > double.Parse(actualValue.First()))
                                    {
                                        <i class="oi oi-caret-bottom m-left-5px"></i>
                                    } else if (actualValue?.Count == 1 && associatedParameterValueSet != null && associatedParameterValueSet.Revisions.Count != 0)
                                    {
                                        <i class="oi oi-caret-top m-left-5px"></i>
                                    }
                                </div>
                            </span>
                            <a><br/> (@switchmode)</a>
                        } else if (actualValue != null)
                        {
                            @if (actualValue.Count == 1)
                            {
                                <a>@actualValue.First() @scalevalue</a>
                            } else
                            {
                                @foreach(string value in actualValue)
                                {
                                    <a>value</a>
                                }
                                <a>@scalevalue</a>
                            }
                            @if(actualValue?.Count == 1 && associatedParameterValueSet != null && associatedParameterValueSet.Revisions.Count != 0 && double.Parse(lastActualValue.First()) > double.Parse(actualValue.First()))
                            {
                                <i class="oi oi-caret-bottom m-left-5px"></i>
                            } else if (actualValue?.Count == 1 && associatedParameterValueSet != null && associatedParameterValueSet.Revisions.Count != 0)
                            {
                                <i class="oi oi-caret-top m-left-5px"></i>
                            }
                            <a><br/> (@switchmode)</a>
                        }
                </DisplayTemplate>
                </DxDataGridColumn>
                <DxDataGridColumn Field="@nameof(ParameterSubscriptionViewModel.SubscribedOwner)" Caption="Owner"TextAlignment="DataGridTextAlign.Center" AllowFilter="false"/>
                <DxDataGridColumn Field="@nameof(ParameterSubscriptionViewModel.Option)" TextAlignment="DataGridTextAlign.Center" AllowFilter="false"/>
                <DxDataGridColumn Field="@nameof(ParameterSubscriptionViewModel.State)" TextAlignment="DataGridTextAlign.Center" AllowFilter="false"/>
                <DxDataGridColumn Caption="History" TextAlignment="DataGridTextAlign.Center" AllowFilter="false">
                    <DisplayTemplate>
                        @{
                            var iid = (context as ParameterSubscriptionViewModel)?.Iid;
                            var actualValue = (context as ParameterSubscriptionViewModel)?.ActualValue;
                            var scalevalue = (context as ParameterSubscriptionViewModel)?.Scale;
                            var switchmode = (context as ParameterSubscriptionViewModel)?.SwitchMode;
                            var parameterSubscriptionValueSets = new List<ParameterSubscriptionValueSet>();
                            this.SubscribedParameters.ForEach(p => parameterSubscriptionValueSets.AddRange(p.ValueSet));
                            var associatedParameterSubscriptionValueSet = parameterSubscriptionValueSets.Find(p => p.Iid == iid);
                            var lastActualValue = new ValueArray<string>();
                            if(associatedParameterSubscriptionValueSet != null && associatedParameterSubscriptionValueSet.Revisions.Count != 0)
                            {
                                var lastParameter = (ParameterSubscriptionValueSet)associatedParameterSubscriptionValueSet.Revisions.Last().Value;
                                lastActualValue = lastParameter.ActualValue;
                            }

                            var subscribedIid = (context as ParameterSubscriptionViewModel)?.SubscribedIid;
                            var subscribedActualValue = (context as ParameterSubscriptionViewModel)?.SubscribedActualValue;
                            var subscribedScalevalue = (context as ParameterSubscriptionViewModel)?.SubscribedScale;
                            var associatedParameterValueSet = this.IterationService.GetParameterValueSets(this.ISessionAnchor.GetIteration()).Find(p => p.Iid == subscribedIid);
                            var subscribedLastActualValue = new ValueArray<string>();
                            if(associatedParameterValueSet != null && associatedParameterValueSet.Revisions.Count != 0)
                            {
                                var lastParameter = (ParameterValueSet)associatedParameterValueSet.Revisions.Last().Value;
                                subscribedLastActualValue = lastParameter.ActualValue;
                            }
                        }
                        <div class="display-flex flex-row justify-content-center">
                            @if (associatedParameterSubscriptionValueSet != null && associatedParameterSubscriptionValueSet.Revisions.Count != 0)
                            {
                                <div>
                                    @if (lastActualValue.Count == 1)
                                    {
                                    <a>@lastActualValue.First() @scalevalue</a>
                                    } else
                                    {
                                    @foreach (string value in lastActualValue)
                                    {
                                        <a>value</a>
                                    }
                                        <a>@scalevalue </a>
                                    }
                                </div>
                            } else if (switchmode != null && switchmode.Equals("COMPUTED") && associatedParameterValueSet != null && associatedParameterValueSet.Revisions.Count != 0){
                                <div>
                                    @if (subscribedLastActualValue.Count == 1)
                                    {
                                        <a>@subscribedLastActualValue.First() @subscribedScalevalue</a>
                                    } else
                                    {
                                        @foreach(string value in subscribedLastActualValue)
                                        {
                                            <a>value</a>
                                        }
                                        <a>@subscribedScalevalue </a>
                                    }
                                </div>
                            } else
                            {
                                <div>-</div>
                            }
                        <div class="m-left-3px m-right-3px"> / </div>
                            @if(associatedParameterValueSet != null && associatedParameterValueSet.Revisions.Count != 0)
                            {
                                <div>
                                    @if (subscribedLastActualValue.Count == 1)
                                    {
                                        <a>@subscribedLastActualValue.First() @subscribedScalevalue</a>
                                    } else
                                    {
                                        @foreach(string value in subscribedLastActualValue)
                                        {
                                            <a>value</a>
                                        }
                                        <a>@subscribedScalevalue </a>
                                    }
                                </div>
                            } else
                            {
                                <div>-</div>
                            }
                        </div>
                        @if(associatedParameterSubscriptionValueSet != null && associatedParameterSubscriptionValueSet.Revisions.Count != 0 || associatedParameterValueSet != null && associatedParameterValueSet.Revisions.Count != 0)
                        {
                            <a @onclick="@(() => AccessData(iid, subscribedIid))" class="m-left-3px">More</a>
                        }
                    </DisplayTemplate>
                </DxDataGridColumn>
            </DxDataGrid>
        </div>
    }
</div>

@code {
    /// <summary>
    /// List of subscribed <see cref="Parameter"> by the current <see cref="DomainOfExpertise">
    /// </summary>
    public List<ParameterSubscription> SubscribedParameters { get; set; } = new List<ParameterSubscription>();

    /// <summary>
    /// Defines grid for the component to be able to define actions on it
    /// </summary>
    private DxDataGrid<ParameterSubscriptionViewModel>? grid;

    /// <summary>
    /// List of <see cref="ParameterSubscriptionViewModel"> to show in the table
    /// </summary>
    public List<ParameterSubscriptionViewModel> ViewModelSubscribedParameters = new List<ParameterSubscriptionViewModel>();

    /// <summary>
    /// Set if only changes will appear in the table
    /// </summary>
    public bool IsFilterChangesSelected { get; set; }

    /// <summary>
    /// Listeners for the components to update it with ISession
    /// </summary>
    private Dictionary<string, IDisposable> listeners = new Dictionary<string, IDisposable>();

    /// <summary>
    /// Initialize component at first render and after session update
    /// </summary>
    protected override void OnInitialized()
    {
        this.LoadData();

        if (!this.listeners.TryGetValue("UpToDate", out var listener))
        {
            this.listeners.Add("UpToDate", CDPMessageBus.Current.Listen<SessionStateKind>().Where(x => x == SessionStateKind.UpToDate).Subscribe(x =>
            {
                this.LoadData();
                this.StateHasChanged();
            }));
        }
        if (!this.listeners.TryGetValue("DomainChangedEvent", out listener)) {
            this.listeners.Add("DomainChangedEvent", CDPMessageBus.Current.Listen<DomainChangedEvent>().Subscribe(x =>
            {
                this.LoadData();
                this.StateHasChanged();
            }));
        }
    }

    /// <summary>
    /// Load all data to create the table
    /// </summary>
    private void LoadData()
    {
        this.ViewModelSubscribedParameters.Clear();
        this.SubscribedParameters = this.IterationService.GetParameterSubscriptions(this.ISessionAnchor.GetIteration(), this.ISessionAnchor.CurrentDomainOfExpertise);
        this.GetViewModelSubscribedParameters();
    }

    /// <summary>
    /// Stop and clear listeners of the component
    /// </summary>
    public void Dispose()
    {
        this.listeners.Values.ToList().ForEach(l => l.Dispose());
        this.listeners.Clear();
    }

    /// <summary>
    /// Initialize the list of <see cref="ParameterSubscriptionViewModel"> with subscribed <see cref="Parameter">
    /// </summary>
    public void GetViewModelSubscribedParameters()
    {
        this.SubscribedParameters.ForEach(subscribedparameter => {
            subscribedparameter.ValueSet.ForEach(parameterSubscriptionValueSet =>
            {
                var parameterSubscriptionValueSetRevisions = parameterSubscriptionValueSet?.Revisions;
                var isParameterSubscriptionValueUpdated = false;

            //if change in manual or reference value, revisionNumber changes
                if (parameterSubscriptionValueSetRevisions?.LongCount() != (long)0 
                    && parameterSubscriptionValueSet?.RevisionNumber != parameterSubscriptionValueSetRevisions?.Last().Value.RevisionNumber)
                {
                    isParameterSubscriptionValueUpdated = true;
                }

                var paramererValueSets = this.IterationService.GetParameterValueSets(this.ISessionAnchor.GetIteration());

                var associatedParameterValueSet = paramererValueSets?.Find(p => p.Iid == parameterSubscriptionValueSet?.SubscribedValueSet.Iid);
                var associatedElement = this.ISessionAnchor.GetIteration()?.Element.Find(element => element.Parameter.Find(p => p.ValueSet.Contains(associatedParameterValueSet)) != null);
                var associatedParameter = associatedElement?.Parameter.Find(p => p.ValueSet.Contains(associatedParameterValueSet));

                var associatedParameterValueSetRevisions = associatedParameterValueSet?.Revisions;
                var isAssociatedParameterValueUpdated = false;

            //if any change, revisionNumber changes
                if (associatedParameterValueSetRevisions?.LongCount() != (long)0 
                    && associatedParameterValueSet?.RevisionNumber != associatedParameterValueSetRevisions?.Last().Value.RevisionNumber)
                {
                    isAssociatedParameterValueUpdated = true;
                }

            //check if changes already validated
                if(this.ISessionAnchor.CurrentDomainOfExpertise != null && this.IterationService.ValidatedUpdates.TryGetValue(this.ISessionAnchor.CurrentDomainOfExpertise, out var list))
                {
                    var existingValidatedParameter = list.Find(element => element.Iid == parameterSubscriptionValueSet?.Iid);
                    if(existingValidatedParameter != null && parameterSubscriptionValueSet?.RevisionNumber == existingValidatedParameter.RevisionNumber)
                    {
                        isParameterSubscriptionValueUpdated = false;
                    }
                    if(existingValidatedParameter != null && associatedParameterValueSet?.RevisionNumber == existingValidatedParameter.SubscribedRevisionNumber)
                    {
                        isAssociatedParameterValueUpdated = false;
                    }
                }

                if(isAssociatedParameterValueUpdated && parameterSubscriptionValueSet?.ValueSwitch == ParameterSwitchKind.COMPUTED)
                {
                    isParameterSubscriptionValueUpdated = true;
                }

                this.ViewModelSubscribedParameters.Add(new ParameterSubscriptionViewModel()
                {
                    ElementName = associatedElement?.Name,
                    ParameterType = subscribedparameter?.ParameterType?.Name,
                    ModelCode = associatedParameter?.ModelCode(),
                    Iid = parameterSubscriptionValueSet?.Iid,
                    RevisionNumber = parameterSubscriptionValueSet?.RevisionNumber,
                    ActualValue = parameterSubscriptionValueSet?.ActualValue,
                    Scale = subscribedparameter?.Scale?.ShortName,
                    SwitchMode = parameterSubscriptionValueSet?.ValueSwitch.ToString(),
                    Option = parameterSubscriptionValueSet?.ActualOption?.Name,
                    State = parameterSubscriptionValueSet?.ActualState?.Name,
                    IsUpdated = isParameterSubscriptionValueUpdated,
                    SubscribedIid = associatedParameterValueSet?.Iid,
                    SubscribedRevisionNumber = associatedParameterValueSet?.RevisionNumber,
                    SubscribedActualValue = associatedParameterValueSet?.ActualValue,
                    SubscribedScale = associatedParameter?.Scale.ShortName,
                    SubscribedSwitchMode = associatedParameterValueSet?.ValueSwitch.ToString(),
                    SubscribedOwner = associatedParameterValueSet?.Owner.ShortName,
                    IsSubscribedUpdated = isAssociatedParameterValueUpdated
                });
            });
        });
    }

    /// <summary>
    /// Validates all changes highlights in the table
    /// </summary>
    private void ValidateAllChanges()
    {
        this.ViewModelSubscribedParameters.ToList().ForEach(parameter =>
        {
            if (parameter.IsSubscribedUpdated || parameter.IsUpdated)
            {
                parameter.IsSubscribedUpdated = false;
                parameter.IsUpdated = false;
                this.UpdateValidation(parameter);
            }
        });
        this.StateHasChanged();
    }

    /// <summary>
    /// Save validation to not highlight changes a second time
    /// </summary>
    /// <param name="parameter">The <see cref="ParameterSubscriptionViewModel"> change to save </param>
    private void UpdateValidation(ParameterSubscriptionViewModel parameter)
    {
        if(this.ISessionAnchor.CurrentDomainOfExpertise != null && this.IterationService.ValidatedUpdates.TryGetValue(this.ISessionAnchor.CurrentDomainOfExpertise, out var list))
        {
            var previousVersion = this.IterationService.ValidatedUpdates[this.ISessionAnchor.CurrentDomainOfExpertise].Find(element => element.Iid == parameter.Iid);
            if(previousVersion != null)
            {
                previousVersion.RevisionNumber = parameter.RevisionNumber;
                previousVersion.SubscribedRevisionNumber = parameter.SubscribedRevisionNumber;

            } else
            {
                this.IterationService.ValidatedUpdates[this.ISessionAnchor.CurrentDomainOfExpertise].Add(new ParameterSubscriptionViewModel()
                {
                    Iid = parameter.Iid,
                    RevisionNumber = parameter.RevisionNumber,
                    SubscribedRevisionNumber = parameter.SubscribedRevisionNumber
                });
            }
        } else if (this.ISessionAnchor.CurrentDomainOfExpertise != null)
        {
            this.IterationService.ValidatedUpdates.Add(this.ISessionAnchor.CurrentDomainOfExpertise, new List<ParameterSubscriptionViewModel>()
            {
                new ParameterSubscriptionViewModel()
                {
                    Iid = parameter.Iid,
                    RevisionNumber = parameter.RevisionNumber,
                    SubscribedRevisionNumber = parameter.SubscribedRevisionNumber
                }
            });
        }

    }

    /// <summary>
    /// Unhighlights changes and deletes row selection when you click on the table
    /// </summary>
    /// <param name="args"><see cref="DataGridRowClickEventArgs"> from the table</param>
    private void OnRowClick(DataGridRowClickEventArgs<ParameterSubscriptionViewModel> args) {
        if(args.MouseEventArgs.Detail == 1 && (args.DataItem.IsUpdated || args.DataItem.IsSubscribedUpdated)) {
            args.DataItem.IsUpdated = false;
            args.DataItem.IsSubscribedUpdated = false;
            this.UpdateValidation(args.DataItem);
            this.StateHasChanged();
        }
        grid?.SetDataRowSelected(args.DataItem, false);
        args.Handled = true;
    }

    /// <summary>
    /// Sorts elements in the table alphabetically by ElementName
    /// When there are updates, puts updated elements at the top of the table
    /// </summary>
    /// <param name="viewModelSubscribedParameters">The list of <see cref ="ParameterSubscriptionViewModel"> to show in the table</param>
    /// <returns>An <see cref="ObservableCollection"> with sorted elements</returns>
    private ObservableCollection<ParameterSubscriptionViewModel> SortOrder(List<ParameterSubscriptionViewModel> viewModelSubscribedParameters)
    {
        var updatedParameters = viewModelSubscribedParameters.ToList().FindAll(i => i.IsUpdated || i.IsSubscribedUpdated).OrderBy(i => i.ElementName);
        var otherParameters = viewModelSubscribedParameters.ToList().FindAll(i => !i.IsUpdated && !i.IsSubscribedUpdated).OrderBy(i => i.ElementName);

        if (this.IsFilterChangesSelected)
        {
            return new ObservableCollection<ParameterSubscriptionViewModel>(updatedParameters);
        } else
        {
            return new ObservableCollection<ParameterSubscriptionViewModel>(updatedParameters.Concat(otherParameters)); 
        }
    }

    /// <summary>
    /// Access to historic graph for selected parameterSubscriptionValueSet and parameterValueSet
    /// </summary>
    /// <param name="parameterSubscriptionValueSetIid">Guid of the selected parameterSubscriptionValueSet</param>
    /// <param name="parameterValueSetIid">Guid of the selected parameterSubscriptionValueSet</param>
    public void AccessData(Guid? parameterSubscriptionValueSetIid, Guid? parameterValueSetIid)
    {
        this.NavigationManager.NavigateTo($"/SubscriptionDashboard/More?parameterSubscriptionValueSetIid={parameterSubscriptionValueSetIid?.ToString().ToShortGuid()}&parameterValueSetIid={parameterValueSetIid?.ToString().ToShortGuid()}");
    }

    /// <summary>
    /// Enable/disable filter changes in the table
    /// </summary>
    /// <param name="e">The <see cref="ChangeEventArgs"> from the checkbox input</param>
    public void OnFilterUpdates(ChangeEventArgs e)
    {
        var value = e.Value;
        if(value != null)
        {
            this.IsFilterChangesSelected = (bool) value;
        }
    }
}
