<!------------------------------------------------------------------------------
Copyright (c) 2022 RHEA System S.A.

    Authors: Justine Veirier d'aiguebonne, Sam Gerené, Alex Vorobiev, Alexander van Delft

    This file is part of COMET WEB Community Edition
     The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->

@inject ISessionAnchor ISessionAnchor

<div>
    @if(this.Parameters.Count == 0)
    {
        <div>
            You have no subscription.
        </div>
    } else {
        <DxDataGrid Data="@Parameters" PageSize="0">
            <DxDataGridColumn Field="@nameof(BuiltParameter.ElementName)" Caption="Element" TextAlignment="DataGridTextAlign.Center" SortOrder="DataGridColumnSortOrder.Ascending" />
            <DxDataGridColumn Field="@nameof(BuiltParameter.Name)" Caption="Parameter" TextAlignment="DataGridTextAlign.Center" />
            <DxDataGridColumn Field="@nameof(BuiltParameter.Domain)" Caption="Owner" TextAlignment="DataGridTextAlign.Center" />
            <DxDataGridColumn Field="@nameof(BuiltParameter.ActualValue)" TextAlignment="DataGridTextAlign.Center">
                <DisplayTemplate>
                    @{
                        var intvalue = (context as BuiltParameter).ActualValue;
                     }
                    <a>@intvalue.First()</a>
                </DisplayTemplate>
            </DxDataGridColumn>
            <DxDataGridColumn Field="@nameof(BuiltParameter.Scale)" TextAlignment="DataGridTextAlign.Center"/>
        </DxDataGrid>
    }
</div>

@code {
    /// <summary>
    /// List of subscribed <see cref="Parameter"> by the current <see cref="DomainOfExpertise">
    /// </summary>
    [Parameter]
    public List<Parameter> Data { get; set; }

    /// <summary>
    /// List of <see cref="BuiltParameter"> to show in the table
    /// </summary>
    public ObservableCollection<BuiltParameter> Parameters = new ObservableCollection<BuiltParameter>();

    /// <summary>
    /// Initialize the list of <see cref="BuiltParameter"> with subscribed <see cref="Parameter">
    /// </summary>
    protected override void OnInitialized()
    {
        this.Data.ForEach(parameter => {
            parameter.ValueSet.ForEach(parameterValueSet =>
            {
                Parameters.Add(new BuiltParameter()
                {
                    ElementName = ISessionAnchor.OpenIteration.Element.Find(element => element.Parameter.Contains(parameter))?.Name,
                    Name = parameter?.ParameterType?.Name,
                    ActualValue = parameterValueSet?.ActualValue,
                    Scale = parameter?.Scale?.ShortName,
                    Domain = parameterValueSet?.Owner.ShortName
                });
            });
        });
    }
}
