<!------------------------------------------------------------------------------
Copyright (c) 2023-2024 Starion Group S.A.
    Authors: Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar, Antoine Théate, João Rua
    This file is part of CDP4-COMET WEB Community Edition
     The CDP4-COMET WEB Community Edition is the Starion Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.
    The CDP4-COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.
    The CDP4-COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.
    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->
@inherits SelectedDataItemBase<OrganizationalParticipant, OrganizationalParticipantRowViewModel>

<DxGrid @ref="this.Grid"
        Data="this.ViewModel.CurrentModel.OrganizationalParticipant.OrderBy(x => x.Organization.Name).Select(x => new OrganizationalParticipantRowViewModel(x))"
        ColumnResizeMode="GridColumnResizeMode.ColumnsContainer"
        ShowSearchBox="true"
        ShowAllRows="true"
        SearchBoxNullText="Search for an organizational participant..."
        CustomizeElement="@(this.HighlightDefaultOrganizationRow)">
    <ToolbarTemplate>
        <DxToolbar ItemRenderStyleMode="ToolbarRenderStyleMode.Plain">
            <DxToolbarItem Text="Edit Organizational Participants"
                           Click="(() => this.IsOnEditMode = true)"
                           RenderStyle="ButtonRenderStyle.Info"
                           Enabled="true"/>
        </DxToolbar>
    </ToolbarTemplate>
    <Columns>
        <DxGridDataColumn FieldName="@nameof(OrganizationalParticipantRowViewModel.Name)" MinWidth="150" />
        <DxGridDataColumn FieldName="@nameof(OrganizationalParticipantRowViewModel.ShortName)" MinWidth="150" />
    </Columns>
</DxGrid>

<DxPopup @bind-Visible="@(this.IsOnEditMode)"
         HeaderText="Organizational Participants">
    <DxFormLayout CssClass="w-100">
        <DxFormLayoutItem Caption="Participating Organizations:"
                          CaptionPosition="CaptionPosition.Vertical"
                          ColSpanMd="12">
            <DxListBox TValue="Organization"
                       TData="Organization"
                       Data="@(this.ViewModel.Organizations)"
                       TextFieldName="@nameof(Organization.Name)"
                       SelectionMode="ListBoxSelectionMode.Multiple"
                       ShowCheckboxes="true"
                       @bind-Values="@(this.ViewModel.ParticipatingOrganizations)"
                       CssClass="cw-480"/>
        </DxFormLayoutItem>
        <DxFormLayoutItem Caption="Default Organization"
                          CaptionPosition="CaptionPosition.Vertical"
                          ColSpanMd="12">
            <DxComboBox Data="this.ViewModel.CurrentModel.OrganizationalParticipant"
                        @bind-Value="@(this.ViewModel.CurrentModel.DefaultOrganizationalParticipant)"
                        CssClass="cw-480">
                <EditBoxTemplate Context="organizationalParticipant">@organizationalParticipant?.Organization.Name</EditBoxTemplate>
                <ItemTemplate Context="organizationalParticipant">@organizationalParticipant.Organization.Name</ItemTemplate>
            </DxComboBox>
        </DxFormLayoutItem>
    </DxFormLayout>

    <div class="dxbl-grid-edit-form-buttons">
        <DxButton Id="saveOrganizationalParticipantsButton"
                  Click="@(() => this.IsOnEditMode = false)">
            Save
        </DxButton>
        <DxButton Id="cancelOrganizationalParticipantsButton"
                  Click="@(() => this.IsOnEditMode = false)"
                  RenderStyle="ButtonRenderStyle.Secondary">
            Cancel
        </DxButton>
    </div>
</DxPopup>