<!------------------------------------------------------------------------------
Copyright (c) 2022 RHEA System S.A.

    Authors: Justine Veirier d'aiguebonne, Sam Gerené, Alex Vorobiev, Alexander van Delft

    This file is part of COMET WEB Community Edition
     The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->

<div class="container-fluid">
    @if(this.Elements != null)
    {
        <DxTreeView CssClass="m-top-10px" @key="DateTime.Now">
            <Nodes>
                @foreach(var element in this.Elements)
                {
                    <ParameterTreeNode Element="element" 
                        IsEditionMode="@IsEditionMode" 
                        IsOwnedParameters="@IsOwnedParameters" 
                        ParameterTypeSelected="@ParameterTypeSelected" 
                        OptionSelected="@OptionSelected" 
                        StateSelected="@StateSelected" />
                }
            </Nodes>
        </DxTreeView>
    }
</div>

@code {
    /// <summary>
    /// All <see cref="ElementUsage">s and the Top <see cref="ElementDefinition"> of the iteration
    /// </summary>
    [Parameter]
    public List<ElementBase>? Elements { get; set; }

    /// <summary>
    /// Sets edition mode activate
    /// </summary>
    [Parameter]
    public bool IsEditionMode { get; set; }

    /// <summary>
    /// Sets if only parameters owned by the active domain are shown
    /// </summary>
    [Parameter]
    public bool? IsOwnedParameters { get; set; }

    /// <summary>
    /// Name of the parameter type selected
    /// </summary>
    [Parameter]
    public string? ParameterTypeSelected { get; set; }

    /// <summary>
    /// Name of the option selected
    /// </summary>
    [Parameter]
    public string? OptionSelected { get; set; }

    /// <summary>
    /// Name of the state selected
    /// </summary>
    [Parameter]
    public string? StateSelected { get; set; }
}
