<!------------------------------------------------------------------------------
Copyright (c) 2023 RHEA System S.A.

    Authors: Justine Veirier d'aiguebonne, Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar

    This file is part of COMET WEB Community Edition
     The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->
@using COMETwebapp.Services.IterationServices
@using CDP4Common.EngineeringModelData
@using CDP4Dal
@using COMETwebapp.IterationServices
@using COMETwebapp.Model
@using COMETwebapp.SessionManagement
@using CDP4Common.CommonData
@using CDP4Common.SiteDirectoryData
@using COMETwebapp.Services.SessionManagement

@if(this.Parameter != null && this.ParameterValueSet != null)
{
    var modelCode = this.ParameterValueSet.ModelCode().Split("\\");
    var colorToApply = string.Empty;
    if (this.ViewModel.IsParameterValueSetEdited == true)
    {
        colorToApply = "color-title";
    }
    var valueSwitchToShow = this.ParameterValueSet.ValueSwitch;
    if (this.ViewModel.SelectedSwitchKind != null)
    {
        valueSwitchToShow = (ParameterSwitchKind) Enum.Parse(typeof(ParameterSwitchKind), this.ViewModel.SelectedSwitchKind);
    }
    <BSTR AlignRow="AlignRow.Middle">
        <BSTD Class="width-10">
            <div class="@colorToApply">
                @this.Parameter.ParameterType.Name
            </div>
        </BSTD>
    
        @if(modelCode.Count() == 1)
        {
            <BSTD Class="width-20">
                <div class="@colorToApply">
                    @modelCode[0]
                </div>
            </BSTD>
        } else if(modelCode.Count()  == 2)
        {
            if (this.Parameter.IsOptionDependent)
            {
                <BSTD Class="width-20">
                    <div class="@colorToApply">
                        @modelCode[0]
                        <div>
                            Option: @modelCode[1]
                        </div>
                    </div>
                </BSTD>
            } else if (this.Parameter.StateDependence != null)
            {
                <BSTD Class="width-20">
                    <div class="@colorToApply">
                        @modelCode[0]
                        <div>
                            State: @modelCode[1]
                        </div>
                    </div>
                </BSTD>
            }
        } else if(modelCode.Count() > 2)
        {
            <BSTD Class="width-20">
                <div class="@colorToApply">
                    @modelCode[0]
                    <div>
                        Option: @modelCode[1]
                    </div>
                    <div>
                        State: @modelCode[2]
                    </div>
                </div>
            </BSTD>
        }
        @if(this.Parameter.ParameterType.NumberOfValues == 1)
        {
            var enumerationValueDefinitions = new List<EnumerationValueDefinition>();
            if(this.Parameter.ParameterType is EnumerationParameterType enumerationParameterType)
            {
                enumerationValueDefinitions.AddRange(enumerationParameterType.ValueDefinition);
            } 
            else
            {
                enumerationValueDefinitions = null;
            }
            <BSTD Class="width-20">
                <ScalarParameter 
                    Value="@this.ParameterValueSet.Published.First()" 
                    Scale="@this.Parameter.Scale" 
                    ValueType="@this.Parameter.ParameterType.GetType()"
                    IsParameterValueSetEdited="@this.IsParameterValueSetEdited" />
            </BSTD>
            
            @if(valueSwitchToShow == ParameterSwitchKind.COMPUTED)
            {
                <BSTD Class="width-30">
                    <div class="container-fluid p-0">
                        <div class="row m-0">
                            <div class="col p-0">
                                <ScalarParameter 
                                    Value="@this.ParameterValueSet.Computed.First()" 
                                    Scale="@this.Parameter.Scale" 
                                    ValueType="@this.Parameter.ParameterType.GetType()"
                                    IsParameterValueSetEdited="@this.IsParameterValueSetEdited" />
                            </div>
                            <div class="col-2 align-self-center">
                                <SwitchTooltip
                                    ParameterValueSetIid="@this.ParameterValueSet.Iid" 
                                    ParameterValueSetSwitchMode="@this.ParameterValueSet.ValueSwitch"
                                    SwitchValue="valueSwitchToShow"
                                   IsEditable="@this.ViewModel.IsEditable()">
                                    <button type="button" class="btn btn-secondary btn-tooltip">C</button>
                                </SwitchTooltip>
                            </div>
                        </div>
                    </div>
                </BSTD>
            } else if(valueSwitchToShow == ParameterSwitchKind.MANUAL)
            {
                <BSTD Class="width-30">
                    <div class="container-fluid p-0">
                        <div class="row m-0">
                            <div class="col p-0">
                                <ScalarParameter 
                                    Value="@this.ParameterValueSet.Manual.First()" 
                                    Scale="@this.Parameter.Scale" 
                                    ValueType="@this.Parameter.ParameterType.GetType()"
                                    EnumerationValueDefinitions="@enumerationValueDefinitions"
                                    ParameterValueSet="@this.ParameterValueSet" 
                                    IndexInValueSet="0" IsManualEditable="@this.ViewModel.IsEditable()" 
                                    IsParameterValueSetEdited="@this.ViewModel.IsParameterValueSetEdited" />
                            </div>
                            <div class="col-2 align-self-center">
                                <SwitchTooltip
                                    ParameterValueSetIid="@this.ParameterValueSet.Iid" 
                                    ParameterValueSetSwitchMode="@this.ParameterValueSet.ValueSwitch"
                                    SwitchValue="valueSwitchToShow" 
                                    IsEditable="@this.ViewModel.IsEditable()">
                                    <button type="button" class="btn btn-secondary btn-tooltip">M</button>
                                </SwitchTooltip>
                            </div>
                        </div>
                    </div>
                </BSTD>
            } else
            {
                <BSTD Class="width-30">
                    <div class="container-fluid p-0">
                        <div class="row m-0">
                            <div class="col p-0">
                                <ScalarParameter 
                                    Value="@this.ParameterValueSet.Reference.First()" 
                                    Scale="@this.Parameter.Scale" 
                                    ParameterValueSet="@this.ParameterValueSet"
                                    ValueType="@this.Parameter.ParameterType.GetType()"
                                    EnumerationValueDefinitions="@enumerationValueDefinitions"
                                    IndexInValueSet="0" IsReferenceEditable="@this.ViewModel.IsEditable()" 
                                    IsParameterValueSetEdited="@this.ViewModel.IsParameterValueSetEdited" />
                            </div>
                            <div class="col-2 align-self-center">
                                <SwitchTooltip
                                    ParameterValueSetIid="@this.ParameterValueSet.Iid" 
                                    SwitchValue="valueSwitchToShow"
                                    ParameterValueSetSwitchMode="@this.ParameterValueSet.ValueSwitch"
                                    IsEditable="@this.ViewModel.IsEditable()">
                                    <button type="button" class="btn btn-secondary btn-tooltip">R</button>
                                </SwitchTooltip>
                            </div>
                        </div>
                    </div>
                </BSTD>
            }
        } 
        else if(this.Parameter.ParameterType is ArrayParameterType arrayParameterType)
        {
            <BSTD Class="width-20">
                <ArrayParameter 
                    ArrayParameterType="arrayParameterType" 
                    Values="@this.ParameterValueSet.Published" 
                    IsParameterValueSetEdited="@this.ViewModel.IsParameterValueSetEdited" />
            </BSTD>

            @if(valueSwitchToShow == ParameterSwitchKind.COMPUTED)
            {
                <BSTD Class="width-30">
                    <div class="container-fluid p-0">
                        <div class="row m-0">
                            <div class="col p-0">
                                <ArrayParameter 
                                    ArrayParameterType="(ArrayParameterType)this.Parameter.ParameterType" 
                                    Values="@this.ParameterValueSet.Computed" 
                                    IsParameterValueSetEdited="@this.ViewModel.IsParameterValueSetEdited" />
                            </div>
                            <div class="col-2 align-self-center">
                                <SwitchTooltip
                                    ParameterValueSetIid="@this.ParameterValueSet.Iid" 
                                    ParameterValueSetSwitchMode="@this.ParameterValueSet.ValueSwitch"
                                    SwitchValue="valueSwitchToShow" 
                                    IsEditable="@this.ViewModel.IsEditable()">
                                    <button type="button" class="btn btn-secondary btn-tooltip">C</button>
                                </SwitchTooltip>
                            </div>
                        </div>
                    </div>
                </BSTD>
            } else if(valueSwitchToShow == ParameterSwitchKind.MANUAL)
            {
                <BSTD Class="width-30">
                    <div class="container-fluid p-0">
                        <div class="row m-0">
                            <div class="col p-0">
                                    <ArrayParameter 
                                        ArrayParameterType="(ArrayParameterType)this.Parameter.ParameterType" 
                                        Values="@this.ParameterValueSet.Manual" 
                                        ParameterValueSet="@this.ParameterValueSet" 
                                        IndexStartInValueSet="0" 
                                        IsManualEditable="@this.ViewModel.IsEditable()" 
                                        IsParameterValueSetEdited="@this.ViewModel.IsParameterValueSetEdited"/>
                            </div>
                            <div class="col-2 align-self-center">
                                <SwitchTooltip 
                                    ParameterValueSetIid="@this.ParameterValueSet.Iid" 
                                    ParameterValueSetSwitchMode="@this.ParameterValueSet.ValueSwitch"
                                    SwitchValue="valueSwitchToShow" 
                                    IsEditable="@this.ViewModel.IsEditable()">
                                    <button type="button" class="btn btn-secondary btn-tooltip">M</button>
                                </SwitchTooltip>
                            </div>
                        </div>
                    </div>
                </BSTD>
            } else
            {
                <BSTD Class="width-30">
                    <div class="container-fluid p-0">
                        <div class="row m-0">
                            <div class="col p-0">
                                <ArrayParameter 
                                    ArrayParameterType="(ArrayParameterType)this.Parameter.ParameterType" 
                                    Values="@this.ParameterValueSet.Reference" 
                                    ParameterValueSet="@this.ParameterValueSet" 
                                    IndexStartInValueSet="0" 
                                    IsReferenceEditable="@this.ViewModel.IsEditable()" 
                                    IsParameterValueSetEdited="@this.ViewModel.IsParameterValueSetEdited"/>
                            </div>
                            <div class="col-2 align-self-center">
                                <SwitchTooltip 
                                    ParameterValueSetIid="@this.ParameterValueSet.Iid" 
                                    ParameterValueSetSwitchMode="@this.ParameterValueSet.ValueSwitch"
                                    SwitchValue="valueSwitchToShow" 
                                    IsEditable="@this.ViewModel.IsEditable()">
                                    <button type="button" class="btn btn-secondary btn-tooltip">R</button>
                                </SwitchTooltip>
                            </div>
                        </div>
                    </div>
                </BSTD>
            }
        } else
        {
            var compoundParameterType = (CompoundParameterType)this.Parameter.ParameterType;
            var components = compoundParameterType?.Component.ToList();
            if (components != null && compoundParameterType != null)
            {
                <BSTD Class="width-20">
                    <div class="p-0" style="border: 1px solid black; border-radius: 10px;">
                        @foreach (var component in components)
                        {
                            var indexStart = 0;
                            for (var i = 0; i < compoundParameterType.Component.IndexOf(component); i++)
                            {
                                indexStart += compoundParameterType.Component.ElementAt(i).ParameterType.NumberOfValues;

                            }
                            <CompoundParameter 
                                IndexStartInParameterTypeComponent="indexStart" 
                                Values="@this.ParameterValueSet.Published" 
                                Component="component" 
                                IsParameterValueSetEdited="@this.ViewModel.IsParameterValueSetEdited"/>
                        }
                    </div>                                                
                </BSTD>
                @if(valueSwitchToShow == ParameterSwitchKind.COMPUTED)
                {
                    <BSTD Class="width-30">
                        <div class="container-fluid p-0">
                            <div class="row m-0">
                                <div class="col p-0">
                                    <div class="p-0" style="border: 1px solid black; border-radius: 10px;">
                                        @foreach (var component in components)
                                        {
                                            var indexStart = 0;
                                            for (var i = 0; i < compoundParameterType.Component.IndexOf(component); i++)
                                            {
                                                indexStart += compoundParameterType.Component.ElementAt(i).ParameterType.NumberOfValues;
                                            }
                                            <CompoundParameter 
                                                IndexStartInParameterTypeComponent="indexStart" 
                                                Values="@this.ParameterValueSet.Computed" 
                                                Component="component" 
                                                IsParameterValueSetEdited="@this.ViewModel.IsParameterValueSetEdited"/>
                                        }
                                    </div>     
                                </div>
                                <div class="col-2 align-self-center">
                                    <SwitchTooltip 
                                        ParameterValueSetIid="@this.ParameterValueSet.Iid" 
                                        ParameterValueSetSwitchMode="@this.ParameterValueSet.ValueSwitch"
                                        SwitchValue="valueSwitchToShow" 
                                        IsEditable="@this.ViewModel.IsEditable()">
                                        <button type="button" class="btn btn-secondary btn-tooltip">C</button>
                                    </SwitchTooltip>
                                </div>
                            </div>
                        </div>
                    </BSTD>
                } else if(valueSwitchToShow == ParameterSwitchKind.MANUAL)
                {
                    <BSTD Class="width-30">
                        <div class="container-fluid p-0">
                            <div class="row m-0">
                                <div class="col p-0">
                                    <div class="p-0" style="border: 1px solid black; border-radius: 10px;">
                                        @foreach(var component in components)
                                        {
                                            var indexStart = 0;
                                            for(var i = 0; i < compoundParameterType.Component.IndexOf(component); i++)
                                            {
                                                indexStart += compoundParameterType.Component.ElementAt(i).ParameterType.NumberOfValues;

                                            }
                                            <CompoundParameter 
                                                IndexStartInParameterTypeComponent="indexStart" 
                                                Values="@this.ParameterValueSet.Manual" 
                                                Component="component" 
                                                ParameterValueSet="@this.ParameterValueSet" 
                                                IsManualEditable="@this.ViewModel.IsEditable()" 
                                                IsParameterValueSetEdited="@this.ViewModel.IsParameterValueSetEdited" />
                                        }
                                    </div>                                               
                                </div>
                                <div class="col-2 align-self-center">
                                    <SwitchTooltip 
                                        ParameterValueSetIid="@this.ParameterValueSet.Iid" 
                                        ParameterValueSetSwitchMode="@this.ParameterValueSet.ValueSwitch"
                                        SwitchValue="valueSwitchToShow" 
                                        IsEditable="@this.ViewModel.IsEditable()">
                                        <button type="button" class="btn btn-secondary btn-tooltip">M</button>
                                    </SwitchTooltip>
                                </div>
                            </div>
                        </div>
                    </BSTD>
                } else
                {
                    <BSTD Class="width-30">
                        <div class="container-fluid p-0">
                            <div class="row m-0">
                                <div class="col p-0">
                                    <div class="p-0" style="border: 1px solid black; border-radius: 10px;">
                                        @foreach(var component in components)
                                        {
                                            var indexStart = 0;
                                            for(var i = 0; i < compoundParameterType.Component.IndexOf(component); i++)
                                            {
                                                indexStart += compoundParameterType.Component.ElementAt(i).ParameterType.NumberOfValues;

                                            }
                                            <CompoundParameter 
                                                IndexStartInParameterTypeComponent="indexStart" 
                                                Values="@this.ParameterValueSet.Reference" 
                                                Component="component" 
                                                ParameterValueSet="@this.ParameterValueSet" 
                                                IsReferenceEditable="@this.ViewModel.IsEditable()" 
                                                IsParameterValueSetEdited="@this.ViewModel.IsParameterValueSetEdited" />
                                        }
                                    </div>
                                </div>
                                <div class="col-2 align-self-center">
                                    <SwitchTooltip 
                                        ParameterValueSetIid="@this.ParameterValueSet.Iid" 
                                        ParameterValueSetSwitchMode="@this.ParameterValueSet.ValueSwitch"
                                        SwitchValue="valueSwitchToShow" 
                                        IsEditable="@this.ViewModel.IsEditable()">
                                        <button type="button" class="btn btn-secondary btn-tooltip">R</button>
                                    </SwitchTooltip>
                                </div>
                            </div>
                        </div>
                    </BSTD>
                }
            }
        }
        <BSTD Class="width-10">
            <div class="@colorToApply">
                @this.Parameter.Owner.ShortName
            </div>
        </BSTD>
    </BSTR>
}
