<!------------------------------------------------------------------------------
// Copyright (c) 2023 RHEA System S.A.
//
//    Authors: Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar, Théate Antoine
//
//    This file is part of COMET WEB Community Edition
//    The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.
//
//    The COMET WEB Community Edition is free software; you can redistribute it and/or
//    modify it under the terms of the GNU Affero General Public
//    License as published by the Free Software Foundation; either
//    version 3 of the License, or (at your option) any later version.
//
//    The COMET WEB Community Edition is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
//    Affero General Public License for more details.
//
//    You should have received a copy of the GNU Affero General Public License
//    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->
@inherits AuthorizedMenuEntry

<DxMenuItem Text="Session" IconCssClass="icon icon-database" Enabled="@this.AuthorizedMenuEntryViewModel.IsAuthenticated" @bind-Expanded="@this.Expanded">
	<SubMenuTemplate>
		<div class="session__header">
			<div class="row justify-content-center">
				@(this.AuthorizedMenuEntryViewModel.UserName)
			</div>

			<div class="row justify-content-center font-size-smaller">
				@(this.ViewModel.SessionService.Session.DataSourceUri)
			</div>
		</div>
		<div class="session_content">
			<div class="content__autorefresh">
				<DxCheckBox @bind-Checked="@(this.ViewModel.AutoRefreshService.IsAutoRefreshEnabled)"/>
				Refresh every
				<span></span>
				<DxSpinEdit CssClass="content__spin" @bind-Value="@(this.ViewModel.AutoRefreshService.AutoRefreshInterval)"
				            BindValueMode="BindValueMode.OnInput" MinValue="1"/>
				sec
			</div>
			<div class="session__buttons">
				<DxButton CssClass="btn btn-connect right-margin" Text="@this.RefreshButtonText" Enabled="@(!this.ViewModel.IsRefreshing)" Click="@this.ViewModel.RefreshSession" />
				<DxButton CssClass="btn btn-connect left-margin" Text="Log out" Click="@this.Logout" />
			</div>
		</div>
	</SubMenuTemplate>
</DxMenuItem>

