<!------------------------------------------------------------------------------
    Copyright (c) 2022 RHEA System S.A.

    Authors: Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar

    This file is part of COMET WEB Community Edition
     The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->

<div id="state-selector-container">
    <h4 id="state-selector-title">States</h4>
    @if (this.ListActualFiniteStateLists is not null)
    {
        foreach (ActualFiniteStateList actualFiniteStateList in this.ListActualFiniteStateLists)
        {
            var afsl = actualFiniteStateList;

            <div class="actualFiniteStateList">
                <input type="checkbox"
                       id="@actualFiniteStateList.Name"
                       name="@actualFiniteStateList.Name"
                       value="@actualFiniteStateList.Name"
                       onchange="@((ChangeEventArgs args) => this.ActualFiniteStateList_SelectionChanged(afsl,args))">

                <label for="@actualFiniteStateList.Name">
                    @actualFiniteStateList.Name
                </label>
            </div>

            @foreach (ActualFiniteState actualFiniteState in actualFiniteStateList.ActualState)
            {
                var afs = actualFiniteState;

                <div class="actualFiniteState">

                    @if (actualFiniteState.IsDefault)
                    {
                        <input type="radio"
                               id="@actualFiniteState.Name"
                               name="@actualFiniteStateList.Name"
                               value="@actualFiniteState.Name"
               onchange="@((ChangeEventArgs args) => this.ActualFiniteState_SelectionChanged(afs,args))"
                               checked>
                    }
                    else
                    {
                        <input type="radio"
                               id="@actualFiniteState.Name"
                               name="@actualFiniteStateList.Name"
                               value="@actualFiniteState.Name"
                               onchange="@((ChangeEventArgs args) => this.ActualFiniteState_SelectionChanged(afs,args))">
                    }

                    <label for="@actualFiniteState.Name">
                        @actualFiniteState.Name
                    </label>
                </div>
            }
        }
    }
</div>

@code {
    /// <summary>
    /// List of the of <see cref="ActualFiniteStateList"/>
    /// </summary>
    [Parameter]
    public List<ActualFiniteStateList> ListActualFiniteStateLists { get; set; }

    /// <summary>
    /// Event for when an <see cref="ActualFiniteStateList"/> checked state has changed
    /// </summary>
    [Parameter]
    public EventCallback<CustomChangeEventArgs> OnActualFiniteStateList_SelectionChanged { get; set; }

    /// <summary>
    /// Event for when an <see cref="ActualFiniteState"/> checked state has changed
    /// </summary>
    [Parameter]
    public EventCallback<CustomChangeEventArgs> OnActualFiniteState_SelectionChanged { get; set; }

    /// <summary>
    /// Method to invoke the <see cref="OnActualFiniteStateList_SelectionChanged"/> event
    /// </summary>
    private void ActualFiniteStateList_SelectionChanged(ActualFiniteStateList actualFiniteStateList, ChangeEventArgs e)
    {
        this.OnActualFiniteStateList_SelectionChanged.InvokeAsync(new CustomChangeEventArgs(actualFiniteStateList, e.Value));
    }

    /// <summary>
    /// Method to invoke the <see cref="OnActualFiniteState_SelectionChanged"/> event
    /// </summary>
    private void ActualFiniteState_SelectionChanged(ActualFiniteState actualFiniteState, ChangeEventArgs e)
    {
        this.OnActualFiniteState_SelectionChanged.InvokeAsync(new CustomChangeEventArgs(actualFiniteState, e.Value));
    }
}

<style>
    #state-selector-title {
        background: #eaecee;
        padding:2%;
    }

    #state-selector-container {
        border: 1px solid #eaecee;
        margin: 0;
        padding: 0;
    }

    .actualFiniteStateList {
        margin : 0 5px;
    }

    .actualFiniteState{
        width : auto;
        margin : 0 15px;
    }

    .actualFiniteStateList > label,
    .actualFiniteState > label {
        margin-left : 2%;
        cursor: pointer;
    }

</style>