<!------------------------------------------------------------------------------
Copyright (c) 2024 Starion Group S.A.

    Authors: Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar, Théate Antoine, João Rua

    This file is part of COMET WEB Community Edition
    The COMET WEB Community Edition is the Starion Group Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
------------------------------------------------------------------------------->

@inherits SelectedDeprecatableDataItemBase<MeasurementScale, MeasurementScaleRowViewModel>

<LoadingComponent IsVisible="@(this.ViewModel.IsLoading)">
    <div class="d-flex justify-content-between">

        <DxGrid @ref="this.Grid"
                Data="this.ViewModel.Rows.Items"
                ColumnResizeMode="GridColumnResizeMode.ColumnsContainer"
                ShowSearchBox="true"
                SearchBoxNullText="Search for a measurement scale ..."
                AllowSelectRowByClick="true"
                SelectionMode="GridSelectionMode.Single"
                SelectedDataItemChanged="@(row => this.OnSelectedDataItemChanged((MeasurementScaleRowViewModel)row))"
                PopupEditFormCssClass="pw-800"
                PopupEditFormHeaderText="Measurement Scale"
                EditFormButtonsVisible="false"
                CustomizeElement="DisableDeprecatedThing"
                PageSize="20"
                PagerNavigationMode="PagerNavigationMode.Auto"
                PageSizeSelectorVisible="true"
                PageSizeSelectorItems="@(new[] { 20, 35, 50 })"
                PageSizeSelectorAllRowsItemVisible="true"
                FilterMenuButtonDisplayMode="GridFilterMenuButtonDisplayMode.Always"
                CssClass="height-fit-content">
            <Columns>
                <DxGridDataColumn FieldName="@nameof(MeasurementScaleRowViewModel.Name)" MinWidth="150"/>
                <DxGridDataColumn FieldName="@nameof(MeasurementScaleRowViewModel.ShortName)" MinWidth="80" SearchEnabled="false"/>
                <DxGridDataColumn FieldName="@nameof(MeasurementScaleRowViewModel.Type)" Caption="Type" MinWidth="80" SearchEnabled="false"/>
                <DxGridDataColumn FieldName="@nameof(MeasurementScaleRowViewModel.NumberSet)" Caption="Number Set" MinWidth="80" SearchEnabled="false"/>
                <DxGridDataColumn FieldName="@nameof(MeasurementScaleRowViewModel.Unit)" Caption="Unit" MinWidth="80" SearchEnabled="false"/>
                <DxGridDataColumn FieldName="@nameof(MeasurementScaleRowViewModel.ContainerName)" Caption="Container RDL" MinWidth="80" SearchEnabled="false"/>
                <DxGridDataColumn FieldName="@nameof(MeasurementScaleRowViewModel.IsDeprecated)" UnboundType="GridUnboundColumnType.Boolean" Visible="false" Caption="Is Deprecated" MinWidth="80" SearchEnabled="false"/>
            </Columns>
        </DxGrid>

        <DataItemDetailsComponent IsSelected="@(this.IsOnEditMode)"
                                  OnButtonClick="@(this.OnAddThingClick)"
                                  ButtonDisplayText="Add Item">

            <MeasurementScalesForm ViewModel="@(this.ViewModel)"
                                   @bind-IsVisible="@(this.IsOnEditMode)"
                                   ShouldCreate="@(this.ShouldCreateThing)"
                                   OnSaved="@(this.OnSaved)"/>
        </DataItemDetailsComponent>
    </div>
</LoadingComponent>

<DxPopup @bind-Visible="@(this.ViewModel.IsOnDeprecationMode)" HeaderText="Please confirm" Width="auto" CloseOnOutsideClick="false">
    @(this.ViewModel.PopupDialog)
    <div class="dxbl-grid-confirm-dialog-buttons">
        <DxButton Text="Cancel " RenderStyle="ButtonRenderStyle.Success" Click="@(this.ViewModel.OnCancelPopupButtonClick)"/>
        <DxButton Text="Confirm" RenderStyle="ButtonRenderStyle.Danger" Click="@(this.ViewModel.OnConfirmPopupButtonClick)"/>
    </div>
</DxPopup>