<!------------------------------------------------------------------------------
Copyright (c) 2022 RHEA System S.A.

    Authors: Justine Veirier d'aiguebonne, Sam Gerené, Alex Vorobiev, Alexander van Delft

    This file is part of COMET WEB Community Edition
     The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->

@inject ISessionAnchor ISessionAnchor
@inject IIterationService IterationService

@{
    var colorToApply = string.Empty;
    if (this.IsParameterValueSetEdited == true)
    {
        colorToApply = "color-title";
    }
}
@if(this.Scale != null && this.Value != null)
{
    @if(this.IsManualEditable == true || this.IsReferenceEditable == true)
    {
            <div class="row m-0">
                <div class="col-7 p-0 @colorToApply">
                <BSInput Class="@colorToApply" InputType="InputType.Text" Value="@Value" @onchange="@OnChangeValue"/>
            </div>
            <div class="col-5 align-self-center @colorToApply">
                [@Scale]
            </div>
        </div>
    } else
    {
        <div class="col p-0 @colorToApply"> @Value [@Scale] </div>
    }  
}
else
{
    @if(this.IsManualEditable == true || this.IsReferenceEditable == true)
    {
        <div class="col p-0 @colorToApply">
            <BSInput InputSize="Size.Small" Class="@colorToApply" InputType="InputType.Text" Value="@Value" @onchange="@OnChangeValue"/>
        </div>
    } else
    {
        <div class="col p-0 @colorToApply">@Value</div>
    }
}

@code {
    /// <summary>
    /// The value of the associated <see cref="ParameterValueSet">
    /// </summary>
    [Parameter]
    public string? Value { get; set; }

    /// <summary>
    /// The scale of the associated <see cref="ParameterValueSet">
    /// </summary>
    [Parameter]
    public string? Scale { get; set; }

    /// <summary>
    /// <see cref="ParameterValueSet"> to show
    /// </summary>
    [Parameter]
    public ParameterValueSetBase? ParameterValueSet { get; set; } 

    /// <summary>
    /// Index of the displayed value in <see cref="ParameterValueSet">
    /// </summary>
    [Parameter]
    public int IndexInValueSet { get; set; }

    /// <summary>
    /// Sets if ParameterValueSet was edited
    /// </summary>
    [Parameter]
    public bool? IsParameterValueSetEdited { get; set; }

    /// <summary>
    /// Tells if the Manual Value can be editable by the user
    /// </summary>
    [Parameter]
    public bool? IsManualEditable { get; set; }

    /// <summary>
    /// Tells if the Reference Value can be editable by the user
    /// </summary>
    [Parameter]
    public bool? IsReferenceEditable { get; set; }

    /// <summary>
    /// Update value of <see cref="ParameterValueSet"> when a change appears 
    /// </summary>
    /// <param name="e"><see cref="ChangeEventArgs"> from input</param>
    public void OnChangeValue(ChangeEventArgs e)
    {
        if (this.ParameterValueSet != null)
        {
            if((this.IsManualEditable == true || this.IsReferenceEditable == true) && !this.IterationService.NewUpdates.Contains(this.ParameterValueSet.Iid))
            {
                this.IterationService.NewUpdates.Add(this.ParameterValueSet.Iid);
                CDPMessageBus.Current.SendMessage<NewUpdateEvent>(new NewUpdateEvent(this.ParameterValueSet.Iid));
            }
            var clonedParameterValueSet = this.ParameterValueSet.Clone(false);
            if (this.IsManualEditable == true)
            {
                clonedParameterValueSet.Manual[this.IndexInValueSet] = e.Value?.ToString();
            }
            else if (this.IsReferenceEditable == true)
            {
                clonedParameterValueSet.Reference[this.IndexInValueSet] = e.Value?.ToString();
            }
            this.ISessionAnchor.UpdateThings(new List<Thing>()
            {
                clonedParameterValueSet
            });
        }
    }
}
