<!------------------------------------------------------------------------------
Copyright (c) 2022 RHEA System S.A.

    Authors: Justine Veirier d'aiguebonne, Sam Gerené, Alex Vorobiev, Alexander van Delft

    This file is part of COMET WEB Community Edition
     The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->

@inject ISessionAnchor ISessionAnchor
@inject IIterationService IterationService

@if(this.ParameterValueSet != null)
{
    var colorToApply = string.Empty;
    if (this.IsParameterValueSetEdited == true)
    {
        colorToApply = "color-title";
    }
    @if(this.IsSwitchEditable == true)
    {
        <div class="p-0">
            <div class="row m-0">
                <DxComboBox Data="@switchModeValues"
                    InputCssClass="@colorToApply"
                    Value="@ParameterValueSet.ValueSwitch"
                    ValueChanged="@((ParameterSwitchKind switchMode) => OnSwitchModeChange(switchMode))" />
            </div>
        </div>
    }
    else
    {
        <div class="@colorToApply">@ParameterValueSet.ValueSwitch.ToString()</div>
    }

}

@code {
    /// <summary>
    /// The ParameterValueSet to show in the table
    /// </summary>
    [Parameter]
    public ParameterValueSetBase? ParameterValueSet { get; set; }

    /// <summary>
    /// Sets if switch mode can be editable
    /// </summary>
    [Parameter]
    public bool? IsSwitchEditable { get; set; }

    /// <summary>
    /// Sets if ParameterValueSet was edited
    /// </summary>
    [Parameter]
    public bool? IsParameterValueSetEdited { get; set; }

    /// <summary>
    /// List of Switch Mode possibilities
    /// </summary>
    private List<ParameterSwitchKind>? switchModeValues { get; set; } = new List<ParameterSwitchKind>(){
        ParameterSwitchKind.COMPUTED,
        ParameterSwitchKind.MANUAL,
        ParameterSwitchKind.REFERENCE
    };

    /// <summary>
    /// Update switch mode of <see cref="ParameterValueSet"> when a change appears 
    /// </summary>
    /// <param name="switchMode">Selected Switch Mode</param>
    public void OnSwitchModeChange(ParameterSwitchKind switchMode)
    {
        if (this.ParameterValueSet != null)
        {
            if(this.IsSwitchEditable == true && !this.IterationService.NewUpdates.Contains(this.ParameterValueSet.Iid))
            {
                this.IterationService.NewUpdates.Add(this.ParameterValueSet.Iid);
                CDPMessageBus.Current.SendMessage<NewUpdateEvent>(new NewUpdateEvent(this.ParameterValueSet.Iid));
            }

            this.ParameterValueSet.ValueSwitch = switchMode;
            this.ISessionAnchor.UpdateThings(new List<Thing>()
            {
                this.ParameterValueSet
            });
        }
    }
}
