<!------------------------------------------------------------------------------
// Copyright (c) 2023 RHEA System S.A.
//
//    Authors: Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar, Théate Antoine
//
//    This file is part of COMET WEB Community Edition
//    The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.
//
//    The COMET WEB Community Edition is free software; you can redistribute it and/or
//    modify it under the terms of the GNU Affero General Public
//    License as published by the Free Software Foundation; either
//    version 3 of the License, or (at your option) any later version.
//
//    The COMET WEB Community Edition is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
//    Affero General Public License for more details.
//
//    You should have received a copy of the GNU Affero General Public License
//    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->
<div id="@this.cardId" class="card">
	<a class="card-btn card__link" href="@this.CurrentCard.Url" >
		<span class="oi oi-@this.CurrentCard.Icon display-flex justify-content-center card__icon" title="@this.CurrentCard.Icon" aria-hidden="true"></span>
		<div class="card-body display-flex flex-column align-items-center card__content">
			<h5 class="card-title color-title card__content__name">@this.CurrentCard.Name</h5>
			<p class="card-text text-align-center card__content__description">@this.CurrentCard.Description</p>
		</div>
	</a>
</div>