<!------------------------------------------------------------------------------
Copyright (c) 2023 RHEA System S.A.

    Authors: Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar

    This file is part of COMET WEB Community Edition
     The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->

@using COMETwebapp.Extensions
@using CDP4Common.SiteDirectoryData
@using System.Globalization

@if (!this.ViewModel.IsVisible || this.ViewModel.SelectedParameter is null)
{
    return;
}

@if (this.ViewModel.SelectedParameter.ParameterType is ScalarParameterType scalarType)
{
    var valueSet = this.ViewModel.CurrentValueSet is not null ? this.ViewModel.CurrentValueSet.ActualValue.First() : "";

    if (scalarType is EnumerationParameterType enumerationType)
    {
        <div class="parameter-row-centered">
            <DxComboBox CssClass="enumeration-parameter-type"
                        Data="enumerationType.ValueDefinition.OrderBy(x=>x.Name).Select(x=>x.Name).ToList()"
                        NullText="-"
                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Never"
                        Value="@valueSet"
                        ValueChanged="@((string value)=>this.ViewModel.OnParameterValueChange(0,new ChangeEventArgs(){Value = value}))" />
        </div>
    }
    else if (scalarType is BooleanParameterType)
    {
        <div class="parameter-row-centered">
            @{
                var data = new List<string>() { "-", "true", "false" };
                <DxComboBox CssClass="boolean-parameter-type"
                            Data="data"
                            NullText="-"
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Never"
                            Value="@valueSet"
                            ValueChanged="@((string value)=>this.ViewModel.OnParameterValueChange(0,new ChangeEventArgs(){Value = value}))" />
            }
        </div>
    }
    else if (scalarType is DateParameterType)
    {
        DateTime.TryParse(@valueSet, out var dateTime);

        <div class="parameter-row">
            <DxDateEdit CssClass="date-parameter-type"
                        Date="dateTime"
                        DateChanged="@((DateTime date) => this.ViewModel.OnParameterValueChange(0, new ChangeEventArgs(){Value = date.ToString(CultureInfo.InvariantCulture)}))"
                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                        NullText="Select a date..." />
        </div>
    }
    else if (scalarType is TextParameterType textType)
    {
        var colorValue = valueSet.ParseToHexColor();

        if (textType.ShortName == SceneSettings.ColorShortName)
        {
            <div class="parameter-row" id="color-section">
                <input type="color" id="color" name="color" value="@colorValue" @onchange="(e)=>this.ViewModel.OnParameterValueChange(0,e)">
                <label for="color" id="color-text">Color</label>
            </div>
        }
        else
        {
            <div class="parameter-row">
                <p>@textType.Name</p>
                <DxTextBox InputCssClass="text-parameter-type" Text="@valueSet" BindValueMode="BindValueMode.OnInput" CssClass="parameter-input" @oninput="(e)=>this.ViewModel.OnParameterValueChange(0,e)"></DxTextBox>
            </div>
        }
    }
    else if (scalarType is DateTimeParameterType)
    {
        var dateTimeStringSplitted = valueSet.Split('T');
        DateTime.TryParse(dateTimeStringSplitted[0], out var dateTime);

        <div class="parameter-row">
            <DxDateEdit CssClass="date-time-parameter-type cw-320"
                        Date="dateTime"
                        DateChanged="@((DateTime date) => this.ViewModel.OnParameterValueChange(0, new ChangeEventArgs(){Value = date.ToString(CultureInfo.InvariantCulture)}))"
                        ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                        NullText="Select a date..." />
        </div>

        var timeString = dateTimeStringSplitted[1];
        var values = timeString.Split(':');

        int.TryParse(values[0], out var hours);
        int.TryParse(values[0], out var minutes);
        int.TryParse(values[0], out var seconds);

        var time = new TimeSpan(hours, minutes, seconds);

        <div class="parameter-row">
            <DxTimeEdit @bind-Time="@time" CssClass="cw-320"></DxTimeEdit>
            <DxTextBox InputCssClass="date-time-parameter-type" Text="@values[0]" BindValueMode="BindValueMode.OnInput" CssClass="parameter-input" @oninput="(e)=>this.ViewModel.OnParameterValueChange(0,e)"></DxTextBox> <p>:</p>
            <DxTextBox InputCssClass="date-time-parameter-type" Text="@values[1]" BindValueMode="BindValueMode.OnInput" CssClass="parameter-input" @oninput="(e)=>this.ViewModel.OnParameterValueChange(1,e)"></DxTextBox> <p>:</p>
            <DxTextBox InputCssClass="date-time-parameter-type" Text="@values[2]" BindValueMode="BindValueMode.OnInput" CssClass="parameter-input" @oninput="(e)=>this.ViewModel.OnParameterValueChange(2,e)"></DxTextBox>
        </div>
    }
    else if (scalarType is TimeOfDayParameterType)
    {
        var values = valueSet.Split(':');
        
        int.TryParse(values[0], out var hours);
        int.TryParse(values[1], out var minutes);
        int.TryParse(values[2], out var seconds);

        var time = new TimeSpan(hours, minutes, seconds);

        <div class="parameter-row">
            <DxTimeEdit @bind-Time="@time" CssClass="cw-320"></DxTimeEdit>
            <DxTextBox InputCssClass="time-of-day-parameter" Text="@values[0]" BindValueMode="BindValueMode.OnInput" CssClass="parameter-input" @oninput="(e)=>this.ViewModel.OnParameterValueChange(0,e)"></DxTextBox> <p>:</p>
            <DxTextBox InputCssClass="time-of-day-parameter" Text="@values[1]" BindValueMode="BindValueMode.OnInput" CssClass="parameter-input" @oninput="(e)=>this.ViewModel.OnParameterValueChange(1,e)"></DxTextBox> <p>:</p>
            <DxTextBox InputCssClass="time-of-day-parameter" Text="@values[2]" BindValueMode="BindValueMode.OnInput" CssClass="parameter-input" @oninput="(e)=>this.ViewModel.OnParameterValueChange(2,e)"></DxTextBox>
        </div>
    }
    else if (scalarType is QuantityKind quantityKind)
    {
        <div class="parameter-row">
            <p>@quantityKind.Name</p>
            <DxTextBox InputCssClass="quantity-kind-parameter" Text="@valueSet" BindValueMode="BindValueMode.OnInput" CssClass="parameter-input" @oninput="(e)=>this.ViewModel.OnParameterValueChange(0,e)"></DxTextBox>
            <p>@quantityKind.DefaultScale.ShortName</p>
        </div>
    }
}
else if (this.ViewModel.SelectedParameter.ParameterType is CompoundParameterType compoundType)
{
    var valueSet = this.ViewModel.CurrentValueSet;

    if (compoundType.ShortName == SceneSettings.OrientationShortName && valueSet is not null)
    {
        <OrientationComponent ViewModel="this.CreateOrientationViewModel()"/>
    }
    else if (valueSet is not null)
    {
        for (var i = 0; i < compoundType.Component.Count; i++)
        {
            var index = i;
            var comp = compoundType.Component[i];

            <div class="parameter-row">
                <p>@comp.ShortName</p>
                <DxTextBox InputCssClass="compound-parameter-type" Text="@valueSet?.ActualValue[i]" BindValueMode="BindValueMode.OnInput" CssClass="parameter-input" @oninput="(e)=>this.ViewModel.OnParameterValueChange(index,e)"></DxTextBox>
                <p>@comp.Scale.ShortName</p>
            </div>
        }
    }
}
