<!------------------------------------------------------------------------------
Copyright (c) 2023 RHEA System S.A.

Authors: Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar

This file is part of COMET WEB Community Edition
The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

The COMET WEB Community Edition is free software; you can redistribute it and/or
modify it under the terms of the GNU Affero General Public
License as published by the Free Software Foundation; either
version 3 of the License, or (at your option) any later version.

The COMET WEB Community Edition is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->
@using Enumerations;

<DxTabs>
    <DxTabPage Text="Euler">
        <div id="orientation-tab-content">
            @{
                var data = Enum.GetValues(typeof(Enumerations.AngleFormat)).Cast<Enumerations.AngleFormat>();
                <div class="angle-selector">
                    <DxComboBox Data="data"
                                NullText="-"
                                ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Never"
                                Value="@this.ViewModel.AngleFormat"
                                ValueChanged="@((Enumerations.AngleFormat value)=>this.ViewModel.OnAngleFormatChanged(value))" />
                </div>
                <div class="parameter-row">
                    <p>Rx:</p>
                    <BSInput InputType="InputType.Text" Value="this.ViewModel.Orientation.X" Class="parameter-input" @oninput="@((e) => this.ViewModel.OnEulerAnglesChanged("Rx",e))" />
                </div>
                <div class="parameter-row">
                    <p>Ry:</p>
                    <BSInput InputType="InputType.Text" Value="this.ViewModel.Orientation.Y" Class="parameter-input" @oninput="@((e) => this.ViewModel.OnEulerAnglesChanged("Ry",e))" />
                </div>
                <div class="parameter-row">
                    <p>Rz:</p>
                    <BSInput InputType="InputType.Text" Value="this.ViewModel.Orientation.Z" Class="parameter-input" @oninput="@((e) => this.ViewModel.OnEulerAnglesChanged("Rz",e))" />
                </div>
            }
        </div>
    </DxTabPage>
    <DxTabPage Text="Matrix">
        @{
            var names = new string[] { "R0C0", "R0C1", "R0C2", "R1C0", "R1C1", "R1C2", "R2C0", "R2C1", "R2C2" };
            @for (int i = 0; i < this.ViewModel.Orientation.Matrix.Length; i++)
            {
                var index = i;
                <div class="parameter-row">
                    <p>@names[index]</p>
                    <BSInput InputType="InputType.Text" Value="this.ViewModel.Orientation.Matrix[i]" Class="parameter-input" @oninput="(e)=>this.ViewModel.OnMatrixValuesChanged(index,e)" />
                </div>
            }
        }
    </DxTabPage>
</DxTabs>
