<!------------------------------------------------------------------------------
Copyright (c) 2023 RHEA System S.A.

Authors: Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar

This file is part of COMET WEB Community Edition
The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

The COMET WEB Community Edition is free software; you can redistribute it and/or
modify it under the terms of the GNU Affero General Public
License as published by the Free Software Foundation; either
version 3 of the License, or (at your option) any later version.

The COMET WEB Community Edition is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->
@{
    <BSNav IsTabs="true">
        <BSNavItem IsActive="true">
            <TabLabel>Euler</TabLabel>
            <TabContent>
                <div id="orientation-tab-content">
                    @{
                        var types = new List<string>
                        () { "Degrees", "Radians" };
                        <DxComboBox Data="types"
                            NullText="-"
                            ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Never"
                            Value="this.AngleFormat"
                            ValueChanged="@((string value)=>this.OnAngleFormatChanged(new ChangeEventArgs(){Value = value}))"
                            CssClass="angle-format-combo" />

                        <div class="parameter-row">
                            <p>Rx:</p>
                            <BSInput InputType="InputType.Text" Value="this.Rx" Class="parameter-input" @oninput="@((e) => this.OnEulerAnglesChanged("Rx",e))" />
                        </div>
                        <div class="parameter-row">
                            <p>Ry:</p>
                            <BSInput InputType="InputType.Text" Value="this.Ry" Class="parameter-input" @oninput="@((e) => this.OnEulerAnglesChanged("Ry",e))" />
                        </div>
                        <div class="parameter-row">
                            <p>Rz:</p>
                            <BSInput InputType="InputType.Text" Value="this.Rz" Class="parameter-input" @oninput="@((e) => this.OnEulerAnglesChanged("Rz",e))" />
                        </div>
                    }
                </div>
            </TabContent>
        </BSNavItem>
        <BSNavItem>
            <TabLabel>Matrix</TabLabel>
            <TabContent>
                @{
                    if (this.OrientationParameterType is not null)
                    {
                        for (int i = 0; i < this.OrientationParameterType.Component.Count; i++)
                        {
                            var index = i;
                            var comp = this.OrientationParameterType.Component[i];

                            <div class="parameter-row">
                                <p>@comp.ShortName</p>
                                <BSInput InputType="InputType.Text" Value="this.DetailsComponent.GetValueSet().ActualValue[i]" Class="parameter-input" @oninput="(e)=>this.DetailsComponent.OnParameterValueChange(index,e)" />
                            </div>
                        }
                    }
                }
            </TabContent>
        </BSNavItem>
    </BSNav>
}
