<!------------------------------------------------------------------------------
// Copyright (c) 2023-2024 Starion Group S.A.
//
//   Authors: Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar, Théate Antoine, Nabil Abbar
//
//   This file is part of CDP4-COMET WEB Community Edition
//   The CDP4-COMET WEB Community Edition is the Starion Web Application implementation of ECSS-E-TM-10-25
//   Annex A and Annex C.
//
//   Licensed under the Apache License, Version 2.0 (the "License");
//   you may not use this file except in compliance with the License.
//   You may obtain a copy of the License at
//
//       http://www.apache.org/licenses/LICENSE-2.0
//
//   Unless required by applicable law or agreed to in writing, software
//   distributed under the License is distributed on an "AS IS" BASIS,
//   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//   See the License for the specific language governing permissions and
//   limitations under the License.
------------------------------------------------------------------------------->
@namespace COMETwebapp.Components.Common

@using COMETwebapp.Model
@using COMET.Web.Common.Model
@using COMET.Web.Common.ViewModels.Components.Applications
@inherits OpenModel

<DxFormLayout CaptionPosition="CaptionPosition.Vertical" CssClass="py-3">
    <DxFormLayoutItem ColSpanLg="12">
        <div style="display:flex; flex-direction: column; align-items: center;">
            <FeatherSmile Size="42"
                          Color="currentColor"
                          StrokeWidth="1.8f"/>
            <h5 class="font-weight-bold mt-1">You have no model selected</h5>
            <span>Select a model to start working on it</span>
        </div>
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="Model" ColSpanLg="12">
        <DxComboBox Id="model-selection" Data="@(this.ViewModel.AvailableEngineeringModelSetups)"
                    TextFieldName="@nameof(EngineeringModelSetup.Name)"
                    @bind-Value="@(this.ViewModel.SelectedEngineeringModel)"
                    NullText="Select an Engineering Model"/>
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="View" ColSpanLg="12">
        <DxComboBox Id="view-selection" Data="@(Applications.ExistingApplications.OfType<TabbedApplication>())"
                    TextFieldName="@nameof(Application.Name)"
                    @bind-Value="@(this.ViewModel.SelectedApplication)"
                    NullText="Select a View"/>
    </DxFormLayoutItem>
    <DxFormLayoutItem Caption="Domain" ColSpanLg="12">
        <DxComboBox Id="domain-selection" Data="@(this.ViewModel.AvailablesDomainOfExpertises)"
                    TextFieldName="@nameof(DomainOfExpertise.Name)"
                    @bind-Value="@(this.ViewModel.SelectedDomainOfExpertise)"
                    NullText="Select a Domain of Expertise"/>
    </DxFormLayoutItem>

    @if (this.ViewModel.SelectedApplication?.ViewModelType.IsAssignableTo(typeof(ISingleEngineeringModelApplicationBaseViewModel)) != true)
    {
        <DxFormLayoutItem Caption="Iteration" ColSpanLg="12">
            <DxComboBox Id="iteration-selection" Data="@(this.ViewModel.AvailableIterationSetups)"
                        TextFieldName="@nameof(IterationData.IterationName)"
                        @bind-Value="@(this.ViewModel.SelectedIterationSetup)"
                        NullText="Select an Iteration"/>
        </DxFormLayoutItem>
    }

</DxFormLayout>
<div class="modal-footer">
    <DxButton Id="openmodel__button" CssClass="btn btn-connect"
              Text="@(this.ButtonText)" Click="@(this.ViewModel.OpenSession)"/>
</div>