<!------------------------------------------------------------------------------
    Copyright (c) 2022 RHEA System S.A.

    Authors: Sam Gerené, Alex Vorobiev, Alexander van Delft, Jaime Bernar, Nabil Abbar

    This file is part of COMET WEB Community Edition
     The COMET WEB Community Edition is the RHEA Web Application implementation of ECSS-E-TM-10-25 Annex A and Annex C.

    The COMET WEB Community Edition is free software; you can redistribute it and/or
    modify it under the terms of the GNU Affero General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    The COMET WEB Community Edition is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program. If not, see http://www.gnu.org/licenses/.
------------------------------------------------------------------------------->
@{
    @if (this.CurrentNode is null)
    {
        return;
    }

    var nodeClasses = "treeNode";

    @if (this.CurrentNode.IsSelected)
    {
        nodeClasses += " active";
    }

    <div class="@nodeClasses" onclick="@(()=>this.TreeSelectionChanged(this.CurrentNode))" style="margin-left: calc(20px * @this.Level)">
        <div class="node-inner-content">

            @if (this.CurrentNode.Children.Count > 0)
            {
                @if (this.CurrentNode.IsExpanded)
                {
                    <img class="expandIcon" src="images/Expanded.svg" onclick="@(()=>{ this.CurrentNode.IsExpanded = false; })" />
                }
                else
                {
                    <img class="expandIcon" src="images/Collapsed.svg" onclick="@(()=>{ this.CurrentNode.IsExpanded = true; })" />
                }
            }

            <p class="node-text">@this.CurrentNode.Name</p>
        </div>
    </div>

    @if (this.CurrentNode.Children.Count > 0 && this.CurrentNode.IsExpanded)
    {
        <div class="children">
            @foreach (var child in this.CurrentNode.Children)
            {
                var level = this.Level + 1;
                <SystemNodeComponent CurrentNode="@child"
                   Level="level" />
            }
        </div>
    }
}

@code {

    /// <summary>
    /// Level of the tree. Increases by one for each nested element
    /// </summary>
    [Parameter]
    public int Level { get; set; }

    /// <summary>
    /// Current node that this <see cref="SystemNodeComponent" /> represents
    /// </summary>
    [Parameter]
    public TreeNode CurrentNode { get; set; }

    /// <summary>
    /// Event for when a node selection changed
    /// </summary>
    [Parameter]
    public EventCallback<TreeNode> OnTreeSelectionChanged { get; set; }

    /// <summary>
    /// Method for when a node is selected
    /// </summary>
    /// <param name="node">the selected <see cref="TreeNode"/></param>
    private void TreeSelectionChanged(TreeNode node)
    {
        this.OnTreeSelectionChanged.InvokeAsync(node);
    }
}

<style>

    .node-inner-content {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    .treeNode {
        cursor: pointer;
        padding: 2%;
        border-radius: 5px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        overflow: hidden;
    }

        .treeNode > p {
            margin: 0;
        }

        .treeNode:hover {
            background: #EEE;
        }

    .active {
        background: lightgray;
    }

    .children {
        display: flex;
        flex-direction: column;
    }

    .node-text {
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
    }

    .expandIcon {
        width: 1rem;
        height: 1rem;
    }

    .treeIcon {
        margin-left: 5px;
        width: 1.5rem;
        height: auto;
        max-height: 1.5rem;
        max-width: 1.5rem;
    }
</style>